[2021-09-01 22:56] savingoyal opened #681 "Provide capabilities for custom IdentityProvider for setting `username` for flows"
More context - https://outerbounds-community.slack.com/archives/C02116BBNTU/p1630535475071000 accessible through http://slack.outerbounds.co

[2021-09-04 10:59] Spenhouet opened #682 "Does metaflow run on an on-prem Kubernetes cluster?"
I do see issues and pull requests like this:

- https://github.com/Netflix/metaflow/issues/50
- https://github.com/Netflix/metaflow/pull/644
- https://github.com/Netflix/metaflow/pull/488

Does this mean metaflow will run fully on our on-prem Kubernetes cluster or is there still a requirement for Amazon services?

[2021-09-05 23:21] JensRoland commented on #410
Note that this same pattern would be useful not only for Spark, but also other types of jobs, e.g. Hive and Pig, as well as any future frameworks AWS decides to add.

[2021-09-06 18:10] savingoyal commented on #682
@Spenhouet Yes, you can execute Metaflow workflows on any Kubernetes cluster. We currently have a dependency on Amazon S3 for datastore but it is straightforward to swap that out with GCS/Azure Blob Store/MinIO etc. (particularly after #580 has been merged in). What does your setup look like? If you are using MinIO (or any other S3 compatible blob storage) as your on-prem blob store, we should be

[2021-09-06 18:14] savingoyal commented on #678
That's a good catch. I will push an update to the docs. Usually, there is a latency of few seconds (or more, depending on the compute environment) in between user code retries (AWS Batch scheduling delay + Metaflow setting up the necessary environment). One option for your use case could be to wrap your Athena calls within a process local retry.

[2021-09-07 01:33] tuulos opened #683 "Confusing error from `metaflow.S3` if Metaflow is not configured properly"
If Metaflow is not configured properly (e.g. no config file at all), The `S3DemoFlow` at  https://docs.metaflow.org/metaflow/data#store-and-load-objects-in-a-metaflow-flow fails with a confusing error. We could show a friendlier error

[code]

[2021-09-07 02:05] tuulos opened #684 "Double slashes in `metaflow.S3` keys"
With a config like this
[code]
(note a slash after `METAFLOW_DATASTORE_SYSROOT_S3`)

`metaflow.S3(run=self).put*` produces double-slashes like here:

`s3://mf-test/metaflow//data/DataLoader/1630978962283843/month=01/data.parquet`

The trailing slash in the config shouldn't make a difference

[2021-09-07 06:22] tuulos commented on #410
Yep, actually so it happens that I've been just developing an example showcasing this feature. Stay tuned!

[2021-09-07 22:54] #673 closed

[2021-09-13 02:11] #677 closed

[2021-09-13 02:11] #654 closed

[2021-09-13 02:17] #457 closed

[2021-09-18 19:45] vamagithub commented on #684
I would like to work on this.

[2021-09-20 16:27] himanshu007-creator commented on #684
So should we remove the backslash from config!?

[2021-09-20 16:30] himanshu007-creator commented on #683
Hi, I would like to work on this issue. Can you guide me further on what needs to be done?🙂

[2021-09-21 06:49] romain-intel commented on #684
@vamagithub : please do submit a patch. It's probably a strip missing from somewhere.

[2021-09-22 22:52] crypdick commented on #489
What's the status on this?

[2021-09-24 05:49] himanshu007-creator commented on #680
Hi i would like to work on this issue.

[2021-09-24 19:48] terrytangyuan commented on #50
Is there any update on this? BTW, the URL for Argo Workflows has changed and the old URL does not redirect correctly. Here's the new location: https://github.com/argoproj/argo-workflows

[2021-09-27 21:42] oavdeev opened #726 "Instructions for getting started from a Sagemaker notebook"
If you want to deploy the CFN template and then go through the tutorials using the SM notebook as a dev environment, there are a few undocumented steps and configuration variables to set before you can use Metaflow. We should document this more thoroughly and have friendlier error messages where possible

Namely,

* you get `not authorized to perform: batch:DescribeJobQueues on resource: *` at fir

[2021-09-29 07:47] savingoyal commented on #135
The [new datastore implementation](https://github.com/Netflix/metaflow/pull/580) now allows for custom serde.

[2021-09-29 07:58] multimeric commented on #135
Great! I guess that isn't yet stable though? Are there usage examples that involve file storage anywhere?

[2021-09-29 18:12] oavdeev commented on #489
Actually for naming consistency, I'd call it `METAFLOW_*CONTAINER*_IMAGE` not `METAFLOW_*DEFAULT*_IMAGE` because there's already `METAFLOW_BATCH_CONTAINER_IMAGE`.

[2021-09-29 18:14] oavdeev commented on #489
For posterity, updated naming, proposal v3.2:

* add a global setting called `METAFLOW_CONTAINER_IMAGE` to point to the global default image.
* require (by convention) that all compute decorators that use containers (`@batch`, `@awslambda`, `@kubernetes..`) accept `image=` parameter and respect `METAFLOW_CONTAINER_IMAGE`
* require (by convention) that all compute decorators also provide a configur

[2021-09-30 07:44] sappier commented on #489
Shouldn't config value METAFLOW_CONTAINER_IMAGE override flow-level spec?  The config could be also set as an envvar and envvar purpose was to change the default behaviour specified in the source.
As a use-case, the flow developed and executed in the dev/test environments is passed to a prod where it could use a different registry.  Then using a dedicated production settings/envvars is a way to ru

[2021-10-01 16:46] oavdeev commented on #489
Right, but the idea that envvar sets the _default_ but whatever you specify in .py file takes precedence over that. Note that this is also how this works today for AWS Batch, `image=` in the decorator always overrides `METAFLOW_BATCH_CONTAINER_IMAGE` setting.

In the use case you are describing, the recommendation would be to not specify the registry in the decorator neither in dev nor prod, and r

[2021-10-02 09:24] savingoyal commented on #726
We can fix the cloudformation template. Do you want to take a stab?

[2021-10-03 23:44] mjanson opened #733 "Tutorial 04-playlist-plus fails with AttributeError: Can't get attribute 'new_block'"
I am trying to ramp up on metaflow via the tutorial (thank you for sharing with the community!).

Made it through tutorials 01-03 fine, but have this issue when trying to run 04; not sure how to troubleshoot:

AttributeError: Can't get attribute 'new_block' on <module 'pandas.core.internals.blocks' from '/home/maj/anaconda3/envs/metaflow_PlayListFlow_linux-64_179c56284704ca8e53622f848a3df27cdd1f43

[2021-10-04 05:17] russellbrooks commented on #733
I think this could be related to having incompatible versions of pandas when running the `02-statistics` tutorial compared to the `@conda` env of `04-playlist-plus` that has `pandas==0.24.2`.

In particular, there's some incompatible changes with pandas 1+ that could be breaking the pickle serialization.

Check if your local python env (that was used to run `02-statistics`) has pandas version 1+ a

[2021-10-04 06:50] savingoyal commented on #733
Related - #707. We should retire these tutorials in favor of something that doesn't rely on pandas (or any other third party lib)

[2021-10-04 08:40] pikulmar opened #734 "PATH issues due to incomplete conda environment activation on AWS Batch"
The AWS Batch jobs created by Metaflow invoke Python like `metaflow_TrainingFlow_linux-64_ad59afd22c0b2ee67176dd7dc845cf35ff5599f9/bin/python`, which does _not_ update the `PATH` variable. Therefore, Python packages relying on dependencies like NodeJS fail, even though the corresponding dependencies are installed within the Conda environment (`metaflow_TrainingFlow_linux-64_ad59afd22c0b2ee67176dd7

[2021-10-04 08:44] savingoyal commented on #734
@pikulmar We are already setting the `PATH` [here](https://github.com/Netflix/metaflow/blob/master/metaflow/plugins/conda/conda_step_decorator.py#L310). What is the environment that you are trying to set up? I can try to reproduce the issue on my end.

[2021-10-04 08:59] pikulmar commented on #734
I will try to compile a minimum example reproducing the problem.

[2021-10-04 09:23] savingoyal commented on #734
You can also print `os.environ.get('PATH')` to confirm if the path is being set correctly in your example.

[2021-10-04 12:39] #733 closed

[2021-10-04 12:54] pikulmar commented on #734
@savingoyal I just realized that the code that you referenced above is not present in the Metaflow version that we have encountered the problem with (2.2.10), so it is possible that this issue has already been fixed. I will try to test with a newer Metaflow release.

[2021-10-04 13:40] pikulmar commented on #734
For 2.2.10, I use:

[code]

and get:

[code]

Above, the `conda_base` decorator is needed to install tooling for accessing our infrastructure.

[2021-10-04 14:22] savingoyal commented on #734
@pikulmar Which conda channels are you using? I am unable to generate a valid conda environment for `nodejs>=16.0.0` and `python3` from conda-forge for linux.

[2021-10-04 14:44] pikulmar commented on #734
Remark: It looks like the `batch` decorator (https://github.com/Netflix/metaflow/blob/master/metaflow/plugins/aws/batch/batch_decorator.py#L168) might result in the code path mentioned above being skipped (https://github.com/Netflix/metaflow/blob/master/metaflow/plugins/conda/conda_step_decorator.py#L301)?.

[2021-10-04 14:46] pikulmar commented on #40
Also curious about this feature. Any updates, @webmaxru or @gerryhernandez?

[2021-10-04 14:49] savingoyal commented on #40
@pikulmar With the new datastore implementation (#580), it should be now rather straightforward to integrate with Azure Blob Store. With the kubernetes support for compute and orchestration (#644), one can reliably run workloads on AKS. Let us know if you would like to help test out #644!

[2021-10-04 15:11] savingoyal commented on #734
@pikulmar I just created PR #735 which should address this issue.

[2021-10-05 01:46] tuulos opened #739 "@debug decorator"
If a task gets stuck on a remote compute layer, it can be hard to know what's going on (example https://outerbounds-community.slack.com/archives/C02116BBNTU/p1633397601425900?thread_ts=1633378526.418900&cid=C02116BBNTU)

We could introduce a `@debug` decorator that prints an ample amount of information about running processes, memory consumption etc. One could then resume the flow as `--with debug

[2021-10-06 00:22] tianyi-qi-zefr commented on #739
[code]

I haven't figure out how to use debug model yet, my cmd line `USERNAME=tq CONDA_CHANNELS=default,conda-forge python linear_flow.py --no-pylint --environment=conda run` worked fine, but the debug cmd `USERNAME=tq CONDA_CHANNELS=default,conda-forge python linear_flow.py --no-pylint --environment=conda --with resume debug` outputs error like below

[code]

did I use the cmd incorrectly? and h

[2021-10-06 15:54] alexec commented on #50
This is an extremely popular issue. It'd be great to see it implemented.

[2021-10-06 17:38] oliver-pham commented on #524
At first glance, I think this issue should be resolved if `max_value_size` (in the code below) is set to `None` when `--file` is provided. Should I consider anything else?

https://github.com/Netflix/metaflow/blob/0d3ef3387db83f804f33e7bfcbaa300bcfd9c745/metaflow/cli.py#L211-L213

If nobody has been assigned yet, may I work on this issue?

[2021-10-08 17:32] ogoid opened #746 "Flow/Run _meta subfolder not being uploaded to the s3 datastore"
I'm seeing that the Flow/Run information is being partially uploaded to the s3 datastore, without the _meta subfolder. Is this intentional?

For instance, after running the 00-helloworld tutorial with an empty local & s3 datastore:

[code]

As a consequence I can't simply `aws s3 sync` the bucket to a local folder for analysis with its Python api on different machines. (I'm not willing to have the

[2021-10-08 17:41] ogoid opened #747 "Feature request: deploy metaflow's service to aws lambda"
I'm not too experience with aws infrastructure, but what's the easiest way to have the metadata service running as a lambda function?

I expect to run metaflow infrequently but from different machines (including cloud instances), so I think it would make sense to have it as a lambda function (and fall well below aws' free usage quota).

Also, I suppose the backing DB could also be configured to ex

[2021-10-08 18:17] romain-intel commented on #746
The `_meta` folder is basically the local metadata service and the thing you see in S3 is the S3 datastore. When you use both a *local* metadata service and a *local* datastore, they will be collocated but if you use a *S3* datastore and a *local* metadata service, they are not (as the local metadata service does not use S3). You should, however, be able to sync the .metaflow directory itself to s

[2021-10-08 18:39] ogoid commented on #746
Thanks, I does.

For heavy/concurrent usage I understand the need of a dedicated service. But for my extremely low usage I'd prefer rely only on the S3 bucket.

So, would it be possible to have metaflow also upload this _meta folder to the datastore? Or I guess I could include a manual step in my workflows to sync it? Another way I see would be to recreate this locally, even if with fake data (wha

[2021-10-10 06:22] romain-intel commented on #746
I may still be a little confused. You should be able to sync the `.metaflow` folder manually with S3 to download on another machine. Syncing the current S3 folder will not produce the result you want because the S3 folder is the *datastore* folder (the one when you specify `datastore=S3`). All references to artifacts expect the datastore to be in S3 (not locally on your machine).

So, to clarify:

[2021-10-10 13:50] ogoid commented on #746
Thank you again.

I should have explained my use case better: Besides local development, I intend to deploy the flows to AWS Step Functions to be invoked about once a week.

The problem, I think, is that there is no way to manually sync the metadata from within a SFN execution. Am I right?

An alternative I see is to not use SFN, but instead execute the flows from within a small ECS container. Thi

[2021-10-10 21:35] romain-intel commented on #746
Ah, ok! I was under the (mistaken) impression that you just wanted to check out past flows from another machine. This makes more sense.

So yes, you are correct that the metadata is currently not synced up pre and post step-functions invocation (it would actually probably need to only be synced *post* execution since the execution of a metaflow step/task does not rely on the metadata).

It should,

[2021-10-11 08:15] mdneuzerling opened #748 "Batch decorator fails when `gpu=0` (as opposed to `gpu='0'`)"
**I thought this was an R bug but I've been able to reproduce it in Python. Python example to follow.**

The below flow raises `invalid gpu value: (None) (should be 0 or greater)`:

[code]

Curiously when I print the (Python) form of this flow I see `gpu=0`. It's hard to imagine where this would be converted to a `NULL`/`None`.

What fixes this:
* changing `batch(cpu = 1)` to `decorator("batch", c

[2021-10-11 08:47] mdneuzerling opened #749 "Should Fargate resources be rounded up?"
If I'm using a Fargate compute environment with a `@batch(cpu = 1, memory = 4000)` decorator, I get the following error:

[code]

This is because [Fargate supports only specific configurations](https://aws.amazon.com/fargate/pricing/). If I were to use `memory = 4096` it would work just fine.

Should these values be automatically rounded up to the minimum configuration which meets or exceeds the r

[2021-10-11 09:22] mdneuzerling commented on #748
Actually, here's a minimal Python example. The default value used by `@batch` looks to be `gpu='0'`, which works just fine. But passing `gpu=0` (which is what my R decorator does by default) causes problems.

[code]

[2021-10-12 06:36] davified opened #751 "How to define custom decorators for generic try-catch handling"
Hi there, thanks again for the great work on Metaflow :-)

**Context**
- We have a couple of flows, with say 10 steps each. We have a use case where, should any step fail, we want to exercise a common piece of code (in our case, emit an event that triggers our CI pipeline). This is so that:
  a. if a flow succeeds, we trigger our CI pipeline to deploy our model
  b. if a flow fails, we trigger our

[2021-10-12 18:58] pikulmar commented on #40
@savingoyal Ok, I had a first go at this:

1. Submitting Kubernetes jobs to AKS using the branch from #644 works. As expected, jobs fail to complete because they cannot access the code package in S3. So, the name of the game is to use #580 in order to add Azure Blob Storage support.

2. In order to bring #580 in, I merged current `master` into `plugin-linter` (target branch of #644), yielding http

[2021-10-13 21:31] savingoyal opened #759 "Package code only once for execution on AWS Batch"
Context - https://outerbounds-community.slack.com/archives/C02116BBNTU/p1634152820010000 reachable via slack.outerbounds.co

[2021-10-14 22:58] valayDave opened #763 "Better error message on failure of Pickle serialization"
When Metaflow serializes artifacts to Pickle, It will be a good practice to fail loudly by stating what artifact couldn't be serialized. Currently, when Metaflow fails pickle serialization, it doesn't tell me which particular artifact was the cause of failure during pickle serialization.

[2021-10-17 23:23] davified commented on #751
Thanks @savingoyal !

CloudWatch Events sounds promising, and sounds like the right way to do it. In our case, however, we're trying to see if we can avoid introducing another architectural component to keep things simple.

Eventually I came quite close to implementing what I described with a simple decorator function. However, I'm stuck on extracting the value of `param_a` in the example below (s

[2021-10-18 18:42] savingoyal commented on #40
@pikulmar
- Yes, we can get rid of `metaflow.datatools.S3` from the `@conda` implementation entirely - if you would like to submit a PR please let me know!
- PR #580 and #644 have been merged into the Metaflow codebase - I would be happy to take a look at your Azure datastore PR - I am not very familiar with `cloudpathlib` - is there a specific reason to opt for that in lieu of Azure's Python SDK?

[2021-10-18 23:33] savingoyal commented on #747
@ogoid This should definitely be doable! I believe (I haven't tried this before) that by using [Zappa](https://github.com/zappa/Zappa) you should be able to deploy the service behind API Gateway on AWS Lambda - would you like to try this approach?

[2021-10-18 23:34] savingoyal commented on #746
@ogoid @romain-intel Another option is to use Amazon S3 as metadata service exactly how we use local filesystem for metadata.

[2021-10-18 23:54] savingoyal commented on #16
https://github.com/Netflix/metaflow/issues/50#issuecomment-946254343 If you would like to try out and give feedback on our [Kubernetes integration](https://docs.google.com/document/d/1L_4Fws1KoGg_dtSTaRlAcREX1F8FPS4ZaYk7eJyu_jA/edit#heading=h.89vcutz9qrc3), please reach out at http://slack.outerbounds.co

[2021-10-26 13:23] saikonen opened #785 "Incorrect attempt_ok metadata, and no artefacts being recorded with failing conda step"
***Description***
while testing things with one of the provided tutorials, I ran into an issue where the client is recording a possibly incorrect `attempt_ok` value and no artefacts for the failing task, which is using conda.

possible steps to reproduce, though the actual failure might be due to misconfiguration in my environment
[code]

`start` step fails with the following excerpt of the error:

[2021-10-26 18:47] emilyinamillion opened #786 "Add filename in IncludeFile"
Hello, I am attempting to use IncludeFile to load a json config. The path name and directory structure is important in my config files. From looking at the source code it appears that the path is never made an attribute of IncludeFile? I attempted then to use sys.argv to collect my pathname but noticed this behavior stops that from behaving as expected. Please let me know if it's just an attribute

[2021-10-27 08:03] akyrola opened #787 "Meaning of 'self' is not clear in metaflow flows"
This is a metaflow design related comment that Ville asked me to write down.

In metaflow flowspecs, the artifacts are recorded by setting them as attributes as "self". However, with foreach, the semantics of "self" become unclear:
- join() actually discards all fields of "self", and the attributes need to be merged from the "inputs" (merge_artifacts is good, but it is not applied automatically).

[2021-10-30 07:33] Ujjwal29 commented on #680
Hi I'd like to work on this

[2021-11-01 06:36] romain-intel commented on #786
Hello @emilyinamillion, apologies for the delay in responding. You are correct that, as of now, the name of the file being included is *not* stored anywhere and using sys.argv will not work as you noted since Metaflow will actually launch a sub-process everytime a task is executed. If you absolutely must get the name of the file currently, the best way would be to pass it as another parameter (not

[2021-11-01 17:06] zexuan-zhou commented on #759
Hi just want to check if there is any update on this issue? Thanks

[2021-11-04 07:04] siddarthsreeni opened #808 "Trying to run HelloAWSFlow() from the tutorials after using console_scripts"
I'm trying to run HellowAWSFlow from `the metaflow-tutorials/05-hellowaws` py file. Instead my directory looks like this:
refer: https://python-packaging.readthedocs.io/en/latest/command-line-scripts.html

[code]
This wraps the metaflow.py into `bin/app` and helps make metaflow.py an executable. I'm getting errors in doing this. Any help? How can I run metaflow.py#main not as python3.6 metaflow.py

[2021-11-05 16:57] savingoyal commented on #759
Not yet. Is it a blocker? If so, we can look into it.

[2021-11-05 21:01] mmiermans opened #814 "Add a way to securely inject secrets into AWS Batch"
# Problem
Some of our Metaflow steps need to connect to a database using secret credentials. Currently we use boto3 to get these from AWS SecretsManager, but this requires [a little bit of code](https://boto3.amazonaws.com/v1/documentation/api/latest/reference/services/secretsmanager.html#SecretsManager.Client.get_secret_value). It would be nice if these secrets would be securely injected as envir

[2021-11-08 00:16] tuulos opened #816 "CLI command logs fails when task_id is provided"
e.g. `logs 1636330358830448/start/1` fails
[code]
but `logs 1636330358830448/start` works

This line seems faulty https://github.com/Netflix/metaflow/blob/master/metaflow/cli.py#L342

We should make sure this code path is tested https://github.com/Netflix/metaflow/blob/master/test/core/metaflow_test/cli_check.py#L102

[2021-11-08 23:49] davified opened #818 "Downloading code package on AWS Batch fails with ImportError: cannot import name 'OP_NO_TICKET' from 'urllib3.util.ssl_'"
Hi there, thanks for the great work on Metaflow :-)

We're encountering an error when Metaflow attempts to download a code package to a batch instance, and we were wondering if others are encountering the same error as well.

### Issue

When any step is executed as a batch job, it fails when attempting to download the code package. Error logs:

[code]

### Observations:
- We have multiple Flows, a

[2021-11-09 00:52] davified commented on #818
Hi there, just to update on this - the issue resolved itself (jobs started running without this error at around
 Nov 09 2021 00:40:00) without any code/infra changes on our side.

We were running Flows (and batch jobs) with a static base image (e.g. my-image:v70). Both successful and failed batch jobs were using the same image, so the installed version of `urllib3` must have been the same. So it p

[2021-11-09 02:50] romain-intel opened #819 "Datastore save/load blobs/data relies on order"
In #817, an issue was fixed that causes another reliance on the order in which items are returned from underlying functions. This order is also present in the `save_blobs` method in the `content_addressed_store.py` file. It may be worth investigating if it is possible to make this more robust and generally not rely on order from underlying functions.

[2021-11-09 08:53] ahmadhori commented on #818
We had the same exact issue, also everything started to work again without us changing anything.

[2021-11-09 09:37] whitehatbuds opened #820 "Issues Running Example Code to Create Step Function Flow from Metaflow"
Hello,

I need some help figuring out what the error message means, I was trying to run this example code from:
[https://docs.metaflow.org/going-to-production-with-metaflow/scheduling-metaflow-flows#pushing-a-flow-to-production](url)
I ran the exact code with the command:
`python parameter_flow.py --datastore=s3 --with retry step-functions create`
I added the --datastore flag that wasn't in the do

[2021-11-09 13:30] katidieter commented on #818
Probably the issue happen because of [this dependency issue](https://github.com/boto/botocore/issues/2562) and it is fixed already.

[2021-11-09 22:33] #818 closed

[2021-11-15 01:17] mdneuzerling commented on #748
@savingoyal The root cause is [this line](https://github.com/Netflix/metaflow/blob/ddc2009bfa559a8aeb0ea1a85043d055f23e50fc/metaflow/runtime.py#L913) in `runtime.py`, when `CLIArgs` is fetching the CLI arguments for batch steps:

[code]

`"0"` is truthy, so this works just fine, but `0` is falsy so this bit is skipped. The step command then receives no `--gpu` argument, hence the `None`.

We can f

[2021-11-15 06:45] #820 closed

[2021-11-19 06:26] oavdeev opened #829 "Allow step-level decorators to be applied at the flow level"
Would be useful to be able to apply `@environment` or `@batch` or `@kubernetes` at the flow level. The strawman proposal is that semantics would be simply as if they were applied to each step, equivalent to `--with`. It is not always ideal, but arguably easiest to explain.

[2021-11-19 06:32] zexuan-zhou commented on #829
It would be helpful to assign some flow level environment variables such as PIP_INDEX_URL, logger API key, etc

[2021-11-20 16:10] rushic24 commented on #589
Can anyone assign this to me

[2021-11-22 19:36] romain-intel opened #831 "S3FailureTest test no longer functional"
The S3FailureTest relies on the presence of a string `TEST_S3_RETRY` to determine whether or not a retry is actually happening. That string is printed in the `aws_retry` function. Unfortunately, with the new datastore, the `aws_retry` function is not used to push artifacts out (as it was prior to the new datastore) since the new datastore relies on the S3 client which doesn't use `aws_retry` every

[2021-11-24 11:40] iiAnderson opened #837 "Scheduling Flows to run after successful execution of a previous Flow"
Hi All,

One feature I've been experimenting with is having a Flow trigger (via Step Functions) after the successful execution of another Flow. This has allowed me to abstract out data cleaning code into the parent Flow, then have child flows consume this data.

I think this is a common pattern within most workflows, and I've got a base implementation to show off the feature. All I do is use Event

[2021-11-24 15:44] savingoyal commented on #837
@iiAnderson would you like to open a PR to the repo? We can then try out the PR directly.

[2021-11-24 15:57] Dana-Farber commented on #40
Any update on supporting MSFT Azure ?

[2021-11-24 18:16] iiAnderson commented on #837
I'd love to, but embarrassingly I don't seem to be able to! I'm just getting permission denied when trying to push the local version of my branch to the remote repo. Is there a branch name convention I need to follow?

[2021-11-24 18:36] webmaxru commented on #40
I posted an invitation on my social media. Please, amplify for reaching out to potential contributors:

https://www.linkedin.com/posts/webmax_support-for-another-public-cloud-microsoft-activity-6869342352914309120-V4U8

https://twitter.com/webmaxru/status/1463576009781956616?s=20

[2021-11-24 22:23] mikejmills opened #838 "S3 tmproot environment/config variable"
It would be useful to have an environment variable that controls where S3 client tmp directories are stored.

I use an rsync script to sync my code and if it's run with --delete the tmp folder can be deleted before it should be, causing issues.

[2021-11-24 23:43] eemlnv opened #839 "Problem with @conda"
Hi All,

I have some problems when I use code from [tutorial](https://docs.metaflow.org/metaflow/dependencies#local-execution).
After command _**python main.py --environment=conda run**_ this problem happened.
The screen with problem is attached.
![IMAGE 2021-11-25 02:42:16](https://user-images.githubusercontent.com/64747198/143326046-f9a20648-ee79-4ede-87af-56dbc6fe6b78.jpg)

Thanks,
Egor

[2021-11-25 20:52] hermesdt opened #841 "Allow to specify kubernetes context"
Same as with the namespace, allow to set the target kubernetes context rather than using the current active context.

[2021-11-28 20:06] rvorias opened #842 "Run a flow from another python file"
Hi,

I was wondering if it's possible to run a flow from anything other than a script:
e.g.
[code]

I'm currently getting the following error `TypeError: object of type 'NoneType' has no len()`

update:
ok so the first stage is solved:
[code]

However, I normally give 2 parameters. Anyone know how to set them?

update 2:
ok ok I can just set the attributes

But how do I actually RUN the flow? thx

[2021-11-30 08:48] pikulmar commented on #40
@savingoyal It appears that we might not require Azure Blob Storage support in Metaflow after all (we might decide to share details on this later), which is why I am not sure how much time we would be able to dedicate to a corresponding PR at this time.

Regarding your question, there is a trade off between versatility and performance:

* Using `cloudpathlib` makes implementation of the `Datastore

[2021-11-30 09:58] #748 closed

[2021-12-03 18:03] romain-intel commented on #40
A few notes:
  - currently datastore cannot be added via the `metaflow_extensions` mechanism but that should be possible very shortly (it's very trivial to do and just requires a tiny code reorg -- it's planned but I didn't do it yet given all the other changes that were in flight).
  - I would rather keep the `metaflow.datatools.S3` as is; currently the S3 storage implementation for the datastore

[2021-12-03 22:34] alaabenfatma opened #848 "Unused module + extra possible enhacements"
The module `MetaflowException` has been imported but never used.
 https://github.com/Netflix/metaflow/blob/5297918493d8f4c0ba0c6638fc74d3abd9f8b43f/metaflow/mflog/mflog.py#L7

Moreover, the **EAPF** ("Easier to Ask for Forgiveness than Permission") pattern here
https://github.com/Netflix/metaflow/blob/5297918493d8f4c0ba0c6638fc74d3abd9f8b43f/metaflow/mflog/mflog.py#L45
 can be replaced with a more

[2021-12-04 03:03] tuulos opened #850 "Make it possible to lower the number of s3op workers"
The default of [64 parallel workers](https://github.com/Netflix/metaflow/blob/master/metaflow/datatools/s3op.py#L37) may be [too much for local networks](https://outerbounds-community.slack.com/archives/C02116BBNTU/p1638568667025500).

We could make `max-workers` configurable in `metaflow.S3.__init__`

[2021-12-04 05:38] talebzeghmi commented on #4
another mention Spark Pandas https://spark.apache.org/docs/latest/api/python/user_guide/pandas_on_spark/index.html

[2021-12-05 19:06] #819 closed

[2021-12-06 16:09] JulesBelveze commented on #280
Hi @nabeelvalley @savingoyal,
I'd also like to trigger a flow B from a flow A, is there any update on this? :)

Cheers

[2021-12-07 00:07] akyrola opened #852 "kubernetes client fails with shared_memory in resources"
If you specify `shared_memory` in @resources, then kubernetes will fail with "unknown option --shared_memory" (or something like that). This option is supported by Batch.

@oavdeev

[2021-12-07 15:51] oavdeev opened #854 "S3 client should not expect current directory to be writeable"
By default it tries to download artifacts to CWD, which is not always writeable. To reproduce, run some flows, cd to a read-only directory and run something like

[code]

[2021-12-08 07:52] emocibob commented on #854
Here's the original post from Slack that was the motivation for creating this issue:

Workaround:

[2021-12-08 17:17] tuulos commented on #486
this is particularly annoying when a long-running model training step fails wasting hours of work

![Screen Shot 2021-12-08 at 9 12 21 AM](https://user-images.githubusercontent.com/18241/145253359-f550142d-48ee-4d49-b6d6-d46d9707de73.png)

[2021-12-09 04:36] ryan-williams opened #857 "Exceptions inside @property are suppressed; `AttributeError` about the property raised instead"
## Description
When a `@step` calls a `@property`, any Exceptions in the `@property` get suppressed/hidden, and instead an `AttributeError` is raised saying the flow has no attribute with [the `@property`'s name] (which is not true).

Reproduced in Metaflow 2.4.4, and current `master` (4dbd3c68c22cf0078b158c3bad947e94d8df3d87)

## Repros
An error is raised in `BrokenFlow.prop`:

[code]

When run,

[2021-12-10 17:35] romain-intel commented on #486
@tuulos : could we, as a workaround, catch this type of error and force a refresh (ie: retry like we do for some other errors)? This might be a good way to do it simply. The logic should be there mostly and it should be a matter of catching that specific error.

[2021-12-11 03:24] oavdeev commented on #486
Note that there is already mechanism in botocore to refresh credentials from env vars automatically. Really the problem is specific to Cloud9 which chose a weird way to provision temporary creds.

[2021-12-12 01:29] #848 closed

[2021-12-21 02:17] bennnym commented on #751
Replying here because a concrete example of how to incorporate a custom decorator would be super useful...

Are there any out there? Were you able to achieve this @davified  ?

[2021-12-21 21:49] davified commented on #751
Thanks for the tips @savingoyal !

In the end, this was what we implemented:

[code]

Just to call out a few things:
- If the decorator needs any state, we define it as a class attribute in the flow, and access it via the `flow` object in the decorator (for example, in our case, we notify a downstream CI pipeline that a Flow has failed, and we use this to pass on some useful metadata (e.g. which C

[2021-12-21 22:40] LHCGreg opened #878 "KeyError getting results of Batch runs in 2.4.0+"
I get a KeyError when getting results of a run that uses AWS Batch starting in metaflow 2.4.0, including 2.4.7. 2.3.6 works fine. Non-Batch runs work fine.

To reproduce, use the following files:

[code]

[code]

Set up the necessary environment variables:

[code]

Run the flow: `python branch_flow.py --no-pylint run --run-id-file run_id.txt --with batch:memory=512,cpu=2,gpu=0`

When that complete

[2021-12-29 13:35] mbcel commented on #397
I agree that this would be a very important feature since especially production ready mlflow servers usually need authentification and especially deep learning experiemnts can usually run for days. In such cases a token will most likely expire.

In our case we currently renew the token with the following wrapper function to call mlflow functions:

[code]

[2022-01-03 19:18] #589 closed

[2022-01-05 02:08] dpoznik opened #881 "`metaflow.S3` fails to remove its temp dir upon raising `MetaflowS3NotFound` on an NFS mounted filesystem"
When `metaflow.S3` is used as a context manager and raises `MetaflowS3NotFound`, the `close` method [attempts to remove the temporary directory](https://github.com/Netflix/metaflow/blob/master/metaflow/datatools/s3.py#L359).

When this occurs on an NFS mounted filesystem, a `.nfs*` file is present within the temp directory, presumably because some process retains an open file handle for something

[2022-01-05 17:42] savingoyal commented on #842
@rvorias We have plans to support [programmatic execution of flows](https://docs.google.com/document/d/1HJW9TH6lHEUojqDTzfgJZJXgjg3xZr43-p8_vjYJM1c/edit#heading=h.thnxk5pwrpsa). Meanwhile, you can use the Python subprocess module to invoke the flow.

[2022-01-05 17:43] savingoyal commented on #841
@hermesdt Thanks for the feedback! We will add that shortly.

[2022-01-05 17:43] savingoyal commented on #839
@eemlnv Any updates?

[2022-01-16 23:27] ryan-williams opened #906 "`metaflow_environment` dependencies can override or conflict with those set by the Batch docker image, breaking user code"
Pasting the README from [runsascoded/mf-pip-issue](https://github.com/runsascoded/mf-pip-issue), where I have some repro files as well:

# Metaflow/`pip`/Batch issue
Metaflow runs `pip install awscli … boto3` [while setting up task environements in Batch](https://github.com/Netflix/metaflow/blob/2.4.8/metaflow/metaflow_environment.py#L85), which can break `aiobotocore<2.1.0`.

## Repro
Docker imag

[2022-01-17 21:24] #816 closed

[2022-01-18 01:27] #878 closed

[2022-01-18 14:58] kgullikson88 opened #910 "@conda decorator cannot resolve"
I am trying to write a Flow using the `@conda` and `@conda_base` decorators, and am getting package conflicts that are surprising to me. Minimal example flow:

[code]
My understanding is that this should be effectively equivalent to

[code]
which does resolve. However, when I run the flow using

[code]

I get the following output:
<details>
<summary>Long Error Message...</summary>
<p>

[code]

</p

[2022-01-18 17:06] kgullikson88 commented on #910
So, @jimgoo helped me track it down. It seems the `@conda` decorator silently adds some additional packages, which makes the above roughly equivalent to

[code]

That in fact _does_ fail, because there is no `coverage=4.5.4` for `python=3.9`. So really, this issue is that **metaflow does not support python>3.8 with the `@conda` decorator**.

More recent versions of `coverage` do support python 3.9

[2022-01-18 17:40] savingoyal commented on #910
@kgullikson88 While we address this, you can use Metaflow with Python 3.9 by explicitly adding a dependency on the latest version of coverage=6.2.

[2022-01-18 17:51] kgullikson88 commented on #910
Ah, that makes sense!

[2022-01-18 18:18] savingoyal commented on #906
@ryan-williams The `pip install awscli ...` should be a no-op for any of the libraries that are already present in the image.

[2022-01-18 18:39] #467 closed

[2022-01-18 20:35] ryan-williams commented on #906
Yes, but if e.g. `awscli` isn't already installed, installing it can change the versions of things that are already installed, including breaking them. The "Simpler example" section above illustrates this most directly.

[2022-01-19 11:53] seanv507 opened #914 "CondaLock should output some warning when fails to acquire lock. Currently need to wait 60 minutes before get exception"
One of our users seemed to have a incorrect file lock.

There was no indication of a problem,
Output was "Bootstrapping conda environment" and then it would hang.

eventually user left it running for 60 minutes so finally received exception
https://github.com/Netflix/metaflow/blob/1c97086fa42671ca9f3c2dc55119dd73134804f5/metaflow/plugins/conda/conda.py#L223

could some warning be output (even just

[2022-01-19 17:52] ryan-williams commented on #906
To be clear, it's possible for the following to happen:
- user builds image with valid `*boto*` versions
- user sets that image as `$METAFLOW_BATCH_CONTAINER_IMAGE`, runs a flow `--with batch`
- flow fails because boto versions in the step environment are broken:
  - before running the step, Metaflow ran its own `pip install` in the container
  - that `pip install` inadvertently changed the versio

[2022-01-24 22:39] jimmycfa commented on #4
Agree the Pandas on Spark reference by @talebzeghmi  would be valuable, but you would still need a Spark context. I think being able to declare that your task run in AWS Glue would potentially allow for both Pandas on Spark or just vanilla pySpark as a step.

[2022-01-25 18:02] savingoyal opened #923 "Add GH tests for all supported versions of Python and R"
Metaflow currently supports Py>=3.4 (with limited support for Py2.7) and R>=3.8. The GH tests only test for Py3.7 and R4.1. We should ensure we test on the whole set of permutations.

[2022-01-26 03:55] #839 closed

[2022-01-27 05:40] ctrombley opened #930 "Terraform deployment guide links to an outdated example"
The [Terraform Deployment](https://admin-docs.metaflow.org/metaflow-on-aws/deployment-guide/terraform-deployment) section of the published deployment guide links to an [outdated README](https://github.com/Netflix/metaflow-tools/blob/master/aws/terraform/README.md). The `Netflix/metaflow-tools` repo has been archived in favor of `outerbounds/metaflow-tools` and its version of the [relevant README](

[2022-01-27 19:58] hamelsmu opened #931 "Dependency Error When using `--with kubernetees` flag"
[code]

cc: @oavdeev

[2022-01-27 20:47] hamelsmu commented on #931
I tried installing `kubernetes` and then got this error:

[code]

[2022-01-28 03:13] npow commented on #910
Hi, ran into this issue as well. Where can I see which packages are implicitly added by the `@conda` decorator?

[2022-01-28 06:46] tuulos opened #932 "Make it possible to disable of certain options"
A system administrator may want to disable an option, e.g. `--max-workers` to enforce a system-wide setting. We could provide a way to disable selected options, or override any settings globally.

Context: https://outerbounds-community.slack.com/archives/C02116BBNTU/p1643346664124169

[2022-01-28 07:07] MusHusKat commented on #932
Thanks for opening this issue @tuulos.

In the meantime, I'll share a solution that worked for me. Adding a decorator on the flow that removed unwanted cli options:

[code]
In the above example, the user will not be able to override the `max-workers` system default as the `--max-workers` flag will be dropped before the flow is called. To do the same for other system defaults, you can just add more

[2022-01-28 17:43] calmacx commented on #553
I also ran into this problem. Editing `task_datastore.py` and replacing `import pickle` with `import dill as pickle` got things working fine for me without having to write lots of custom serialisation/deserialisation... just incase anyone else stumbles across this like I did and wants a temp fix.

[2022-01-28 21:17] kgullikson88 commented on #910
I saw it in the docs a while ago but can't find now. I'm pretty sure it is just all the metaflow dependencies, which you can find [here](https://github.com/Netflix/metaflow/blob/master/setup.py#L22).

[2022-01-28 21:56] savingoyal commented on #497
Mamba as a conda package resolver is now available - you can set the environment variable (or add it into your `~/.metaflowconfig`) - `METAFLOW_CONDA_DEPENDENCY_RESOLVER=mamba` to use mamba instead of conda. The mamba executable needs to be in your `$PATH`.

[2022-01-28 21:57] #497 closed

[2022-01-28 21:57] savingoyal commented on #622
@mausch see PR #918

[2022-01-31 17:06] hamelsmu opened #934 "Link to `Environment` Base Class is Broken In Metaflow Docs"
In [this section](https://docs.metaflow.org/internals-of-metaflow/technical-overview#environment) The link to "environment base class" is broken

![image](https://user-images.githubusercontent.com/1483922/151839075-012dbd6a-dd15-4e5e-9bcb-2caac54d5b77.png)

[2022-02-01 05:07] hamelsmu opened #935 "Link to image is broken on "What Is Metaflow" page"
In [this section](https://docs.metaflow.org/introduction/what-is-metaflow#infrastructure-stack-for-data-science)
![image](https://user-images.githubusercontent.com/1483922/151915513-6a1610aa-6f9b-4c11-af49-75bf0cedc8f4.png)

[2022-02-01 06:44] hamelsmu commented on #923
Trying this [here](https://github.com/hamelsmu/metaflow/runs/5017277283?check_suite_focus=true)

[2022-02-01 07:45] hamelsmu commented on #923
@savingoyal do we want all tests to pass before opening a PR?  Some PRs are breaking for example because of the [presence of `f-strings`](https://github.com/hamelsmu/metaflow/runs/5017349844?check_suite_focus=true#step:6:60)

![image](https://user-images.githubusercontent.com/1483922/151930320-5d458037-ccb1-49de-b16d-4f497ac1358f.png)

![image](https://user-images.githubusercontent.com/1483922/151

[2022-02-02 09:46] pikulmar commented on #24
Extending the `@conda` decorator as suggested in https://github.com/Netflix/metaflow/issues/24#issuecomment-698018767 would be really convenient, as it should eliminate the need to re-package various pip-only dependencies.

[2022-02-02 09:47] pikulmar commented on #24
See also https://github.com/Netflix/metaflow/issues/395#issuecomment-740302903

[2022-02-03 22:48] #910 closed

[2022-02-05 19:03] hamelsmu opened #941 "click error when using `IncludeFile`"
I am using metaflow version `2.5.0`

When I run this flow:

[code]

I get the following error:

[code]

[2022-02-08 23:16] tmwong2003 opened #942 "Artifact writes to S3 silently fail between Metaflow stages (Metaflow 2.3.3)"
I suspect that Metaflow 2.3.3 is either not receiving or silently ignoring sporadic S3 failures when writing task data artifacts at the end of a step. TL;DR: I wonder if one needs to consider a `HEAD` lookup right after calls to `boto3.S3.Client.upload_fileobj()` to ensure that S3 actually wrote the object.

In our case, the (simplified) flow looks like this:
[code]
In `join`, Metaflow tries to re

[2022-02-09 01:58] hamelsmu opened #943 "VSCode Debugging Docs Are Unclear"
I was able to finally get things to work, but I had to change my configuration a bit from what is mentioned in the docs.  I will open a PR to fix this.

[2022-02-09 04:03] savingoyal opened #944 "Fix code packaging when the flow file is in the root directory"
[From Darshan Patel](https://outerboundsco.slack.com/archives/C02116BBNTU/p1644298359534659) on [Metaflow Slack](slack.outerbounds.co) -

hey team, I'm getting an error while running a flow on AWS Batch. Metaflow is able to create a batch job definition and kicks a run on Batch but on the batch agent I'm getting following error. do you know what can cause this error?
[code]

[2022-02-11 17:21] #943 closed

[2022-02-11 17:21] #934 closed

[2022-02-11 17:22] #935 closed

[2022-02-13 00:12] romain-intel opened #948 "Pathspec to create Flow/Run/Step/Task/DataArtifact is not validated"
Currently, you can do something like this: `Task(Flow/RunID/StepName)` and this will not result in an error but then the resulting `Task` object behaves in a bizarre manner where things like `t.data` will work but `t.data.my_artifact` will not for example.

We should validate the format of the pathspec passed in to each object and verify that the following are the only possible cases:
- Metaflow()

[2022-02-13 00:15] romain-intel opened #949 "Add helper functions to navigate foreach (among other things)"
It is currently a little difficult to navigate the various tasks in a foreach and users may want to answer questions like:
- what is the variable over which I am doing a foreach
- give me the task where the input value to the foreach is X
- ...

This information is available using the `_foreach_stack` but hidden and not readily accessible. We could improve this access.

[2022-02-13 09:07] AbdAlRahman-Odeh-99 opened #950 "Metaflow-UI DAG Error"
Hello
I am trying to view the DAG of my workflow via the UI. but it gives me the following error.
`TypeError: expected str, bytes or os.PathLike object, not NoneType`
I am running the metaflow locally on ubuntu. The full traceback as follows.

  File "/usr/local/lib/python3.7/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/local/lib/python3.7/runpy.py", line 85,

[2022-02-14 15:49] terrytangyuan commented on #50
FYI we now have a low-level Python SDK officially maintained by the Argo Workflows team. It should be much easier to use it to integrate Metaflow with Argo Workflows. https://github.com/argoproj/argo-workflows/tree/master/sdks/python

[2022-02-14 16:40] alexec opened #951 "Present Metaflow at the Argo Workflows community meeting"
I know that the Argo support has not been implemented yet, but I think it would be great to see meta-flow presented at our community meeting.

[2022-02-14 16:41] savingoyal commented on #951
@alexec For sure! How/where can I sign up?

[2022-02-14 16:50] alexec commented on #951
We do a meeting every 3rd Wednesday at 10am PT. People tend to present on topics (often ML) for about 20m.

Let me know when is good for you and I'll pencil you in!

http://bit.ly/argo-wf-cmty-mtng

[2022-02-14 16:55] alexec commented on #951
Can I push you to come talk in March? We've got Katib talking this week and I think it is too much.

[2022-02-14 16:58] savingoyal commented on #951
For sure! Let's do March!

[2022-02-14 17:13] #951 closed

[2022-02-14 18:13] Adamell opened #952 "Metaflow tqdm"
Hello,
recently, I've noticed that metaflow freezes when used with tqdm and enough large number of print command in the loop. To reproduce:
[code]
[code]
[code]

[2022-02-14 21:29] hamelsmu commented on #952
Hi @Adamell I am not sure about tqdm, but in the meantime, you can potentially unblock yourself with [fastprogress](https://github.com/fastai/fastprogress)

I've had this happen to me before, and I used fast progress to get me out of this jam.   I hope this helps.   Example is below:

[code]

[2022-02-14 21:58] AbdAlRahman-Odeh-99 commented on #950
It is executed uaing Metaflow 2.5.0. All other functionalities of the UI work well except for the DAG one.

[2022-02-15 06:29] shoelsch opened #953 "Metaflow S3 retry behavior"
# Problem

I ran `metaflow configure aws`, configuring `METAFLOW_DATASTORE_SYSROOT_S3` and `METAFLOW_DATATOOLS_SYSROOT_S3` and setting `METAFLOW_DEFAULT_DATASTORE` to `s3`.

After, I ran `python myflow.py run`, and the process appeared to hang:

[code]

I added some debug logging to [`_one_boto_op`](https://github.com/Netflix/metaflow/blob/master/metaflow/datatools/s3.py#L931). It looks like S3 ac

[2022-02-15 18:08] alexec commented on #951
@savingoyal would you be able to do a demo of the workflow integration? That would go down really well.

[2022-02-15 18:09] savingoyal commented on #951
Yes indeed! That's the plan.

[2022-02-16 21:29] romain-intel commented on #942
There are two paths to upload files; could you let me know how many total artifacts are saved for that task (basically the number of entries in this 0.data.json).

[2022-02-18 00:47] stevenhoelscher opened #963 "Allow passing custom resource tags to AWS batch job"
Metaflow [supports adding resource tags to AWS Batch jobs](https://docs.metaflow.org/introduction/release-notes#support-resource-tags-for-metaflows-integration-with-aws-batch), but as far as I can tell, [does not allow passing custom resource tags](https://github.com/Netflix/metaflow/blob/master/metaflow/plugins/aws/batch/batch.py#L250-L263).

Zooming out, my desire is to [restrict the `batch:Term

[2022-02-18 13:50] alexisdondon commented on #682
I have installed a metaflow + ui on premise kubernetes with a minio.
Running the hello world tutorial with --with kubernetes it seems that with default container the command generated by the step here could be improved to be minio compatible

https://github.com/Netflix/metaflow/blob/62f5e52ebce755d9130287c1576011cb056e0e3d/metaflow/metaflow_environment.py#L92

python-m awscli s3 cp s3://someurlto.

[2022-02-19 04:38] soma2000-lang commented on #948
Working on this@romain-intel

[2022-02-19 17:24] romain-intel commented on #948
Awesome! Thanks so much.

[2022-02-22 23:05] savingoyal commented on #950
Would you mind continuing the conversation at chat.metaflow.org so that we can debug live?

[2022-02-22 23:14] savingoyal commented on #963
@stevenhoelscher We can add the tag - `app:Metaflow`. Would that work?

[2022-02-22 23:16] stevenhoelscher commented on #963
Works for me!

[2022-02-23 15:10] JulesBelveze opened #968 "`Table.from_dataframe` only get first 5 rows"
Hey all,

I am using `Metaflow (2.5.2)` and I am playing around with the `Card` component and I'm trying to create a `Table` from a `pandas.DataFrame` but I'm seeing a weird behaviour.
It seems like creating a `Table` from a dataframe only allows the first five rows, whereas directly instantiating the object doesn't  have this limitation.

Code to reproduce:
[code]

Am I doing something wrong ??

[2022-02-23 16:53] valayDave commented on #968
` Table.from_dataframe(df,truncate=False)` should work

[2022-02-23 16:59] JulesBelveze commented on #968
Indeed, sorry wasn't looking at the right object in the source code 😅
Thanks @valayDave !

[2022-02-23 16:59] #968 closed

[2022-02-24 14:51] bishax opened #969 "Cannot seem to use Conda & Batch on MacOS since 2.5.2"
`python anyFlow.py --environment conda run --with batch`

results in the following on MacOS (M1 chip)

[code]

Some system info if helpful:
[code]

[2022-02-24 18:06] tuulos commented on #106
another motivating example by @hugobowne using XGBoost `DMatrix`:
[code]

[2022-02-24 19:00] savingoyal commented on #969
@bishax Can you try executing `conda clean -a` to flush the already downloaded packages? It seems that your conda package repository is in an inconsistent state.

[2022-02-24 20:01] AbdAlRahman-Odeh-99 commented on #950
@savingoyal sure will do. I have joined it, on what channel shall we communicate?

[2022-02-24 20:26] savingoyal commented on #950
#ask-metaflow channel would be most appropriate.

[2022-02-24 20:26] #950 closed

[2022-02-25 10:00] bishax commented on #969
Hi @savingoyal , I tried deleting all my environments and running `conda clean -a` but no luck.
I don't think it is anything to do with my machines state as I can reproduce this error on MacOS in Github actions:

https://github.com/bishax/metaflow-test/actions/runs/1897968810

![image](https://user-images.githubusercontent.com/15673462/155695381-3882ae90-0f3e-41dc-a5b2-c595642272a1.png)

However,

[2022-02-25 10:32] bishax commented on #969
I started looking at individual PR's from the `2.5.1` release (https://github.com/Netflix/metaflow/compare/2.5.0...2.5.1) in this actions run:

https://github.com/bishax/metaflow-test/runs/5332067737?check_suite_focus=true

#918 (Introduction of Mamba) is the commit that fails first - I can't yet see what might be causing the problem.

[2022-02-25 10:47] bishax commented on #969
It appears that the issue is explicitly passing `disable_safety_checks=False` to `self._call_conda` -  https://github.com/Netflix/metaflow/compare/2.5.0...2.5.1#diff-168f1621c385583ff179ab7548023bcf32dd74e7122fc96a5020d567850b4e22R127

[2022-02-25 15:11] #969 closed

[2022-03-07 20:58] stevenhoelscher commented on #963
Closing this issue.

With the [latest change](https://github.com/Netflix/metaflow/pull/970), a condition can now be applied when granting `TerminateJob` permissions.

Here's a Terraform example:
[code]

[2022-03-07 20:58] #963 closed

[2022-03-10 17:52] agrawalsourav98 opened #975 "Metaflow takes a lot of time if there are a lot of files in the current directory"
I was wondering what is the significance of walking the current directory.

https://github.com/Netflix/metaflow/blob/5186c6c5bba36d9e77077413ee2495dc79da3dca/metaflow/package.py#L81-L92

I was trying to run a flow from my home directory and a simple hello world flow was taking too long because I have a lot of subfolders and files in the home directory.

Is it really necessary to walk the present d

[2022-03-10 18:13] savingoyal commented on #975
@agrawalsourav98 We walk your current directory to capture a snapshot of your code - you can access it at any later point - `Run('MyFlow/42').code.tarball`

[2022-03-11 03:49] agrawalsourav98 commented on #975
Okay, investicated a little more and this should not take a lot of time. The reason its taking a lot of time is I have my anaconda working directory in the present directory.

Can a flag be added that ignores certain directories while walking? Folders like anaconda working directory have a ton of '.py' files that are simply unrelevant to the flow. I know it sounds dumb but anaconda is just for exa

[2022-03-11 15:19] redabuspatrol opened #977 "Step functions task definition ContainerOverrides length over 8192"
Hi,

I am having the following error when launching a flow on AWS step functions.

[code]

It seems my flow generates a task definition where the `ContainerOverrides` property is longer than 8192 chars.
My flow runs fine on AWS Batch, though it seems SFN doesn't like it very much.
Is there something I could try and do to get around this, or is this an issue with Metaflow itself?

Thanks a lot.

[2022-03-11 21:49] savingoyal commented on #977
Would it be possible for you to share the output of `python flow.py step-functions create --only-json`? If you want to share it privately, you can DM me at chat.metaflow.org. We have some checks in place to catch this edge case but it could very well be the case that we are violating some condition unintentionally.

[2022-03-14 14:59] redabuspatrol commented on #977
I just shared it with you over the outerbounds slack, please let me know if anything

[2022-03-14 23:47] tmwong2003 commented on #942
For each of the `forkN` tasks we write 72 objects.

[code]
yields
[code]

[2022-03-15 07:50] romain-intel commented on #942
Thanks. This helps. So you are getting this error sporadically? For the six tasks that wrote these 72 objects, how many objects failed?

[2022-03-15 19:13] tmwong2003 commented on #942
Yes. It's not consistent across Metaflow runs; the run from several weeks ago failed on a different artifact. In this case, all six tasks appear to have failed writing that same string list artifact, and it appears to be the only affected artifact.

[2022-03-16 13:29] Limess opened #985 "Support a variable Python base image name"
Currently the base image is customisable by setting `METAFLOW_BATCH_CONTAINER_IMAGE` or passing `image` - if not specified this falls back to the users Python versions, e.g. `python:3.9.2`

This image name doesn't work for strategies using non-Dockerhub docker registries, where the Python image name may vary, e.g. when using AWS ECR [pull through cache](https://aws.amazon.com/blogs/aws/announcing-

[2022-03-22 16:46] kgullikson88 opened #990 "Specify base directory for artifact pulls"
I am using metaflow locally but with the AWS service (e.g. the actual compute is happening locally rather than in AWS batch but the metadata is using AWS). When I access the run data through `run.data` I get new local directories with names like `metaflow.s3.w3efey1k`, which I presume is because metaflow pulls from S3 into that directory, and then un-pickles the result from there. Is there a way t

[2022-03-22 17:48] kgullikson88 commented on #990
@romain-intel I can take a stab. So basically would need to

1. Add a field in the metaflow_config.py relating to this, with default=os.getcwd()
2. Replace all the `tmproot=os.getcwd()` with `tmproot=THAT_CONFIG` in the file you linked?

[2022-03-23 03:01] savingoyal commented on #50
#992 is now available for review

[2022-03-23 06:50] tmwong2003 commented on #942
... we had a possible epiphany over here. We are required to expire certain Metaflow artifacts stored in AWS S3 automatically after 30 days for various compliance reasons. Metaflow uses a hash on the contents to derive a name for an artifact and simultaneously discover whether an artifact is automatically mergeable, yes? One wonders if once in a while we get caught out by S3 expiring an artifact.

[2022-03-23 06:51] tmwong2003 commented on #942
In this situation, we'd want a way to reset the expiry timer with the equivalent of the *nix `touch` command.

[2022-03-23 22:02] savingoyal commented on #977
@redabuspatrol [This](https://github.com/Netflix/metaflow/pull/979) PR will ensure that your workflow can execute again. We should be able to ship it out soon!

[2022-03-23 22:04] savingoyal commented on #977
I will spend some time in a bit further compressing the `ContainerOverrides` field.

[2022-03-24 11:59] sappier opened #994 "Flows parameters are not shown for metaflow_extensions cli"
There is an `@parameters.add_custom_parameters` which extends command's options with parameters from a flow.  This mechanism doesn't work when used within a metaflow plugin:

[code]
See https://github.com/sappier/metaflow-sample-plugin as a working example to reproduce.

**Expected**:
The command `python metaflow-tutorials/01-playlist/playlist.py sample --help` should list playlist.py flow paramet

[2022-03-24 12:35] sappier commented on #994
Ups, already fixed with the PR #959

[2022-03-24 12:35] #994 closed

[2022-03-25 15:47] savingoyal commented on #60
@erowan Would you like to try out #992 in your windows environment? [Here](https://github.com/Netflix/metaflow/blob/master/metaflow/package.py) is the code that packages up your flow.

[2022-03-26 07:05] romain-intel commented on #942
Ah. That may indeed be the case. It is quite possible that the following happens:
  - MF wants to upload an artifact and therefore hashes it
  - If MF finds the hash exists in S3, it will not re-upload it but simply note "this is where my artifact is)
  - your artifact is expired and goes away
  - bug

We have internally been discussing how to deal with this as last I checked (but admittedly it ha

[2022-03-28 08:44] jis478 commented on #952
I've found that tqdm doesn't freeze the execution but fails to print its progress bar on screen. It just goes under the hood.

[2022-03-31 09:37] swattstgtg commented on #636
Has there been any development on this? It would be incredibly useful to have something like a [read the docs](https://docs.readthedocs.io/en/stable/index.html) site that builds directly from the source code, so it is always a source of truth for the current state of the codebase

[2022-03-31 15:28] peterwilton-ttam opened #996 "metaflow CLI doesn't work with most recent versions of `click` (`click>=8.0`)"
Since `click==8.0` ([changelog](https://click.palletsprojects.com/en/8.0.x/changes/#version-8-0-0)), click's `autocompletion` argument has been renamed to `shell_complete`. This breaks the Metaflow CLI:

[code]

I see that Metaflow is vendoring `click==7.1.2`, but the Metaflow CLI doesn't seem to be using the vendored version of click.

[2022-03-31 16:07] savingoyal commented on #996
What is the version of Metaflow that you are using?

[2022-03-31 16:12] savingoyal commented on #996
No worries - glad we could resolve this.

[2022-03-31 16:12] #996 closed

[2022-03-31 16:14] savingoyal commented on #636
@swattstgtg Very timely - @hamelsmu is working on getting an initial version available soon.

[2022-03-31 16:15] hamelsmu commented on #636
Related to https://github.com/Netflix/metaflow-docs/pull/37

[2022-04-05 10:46] zimmy-upstage opened #999 "Where "METAFLOW_DATATOOLS_SYSROOT_S3" config is used?"
When configuring aws variables with `metaflow configure aws`, we set `METAFLOW_DATATOOLS_SYSROOT_S3`.
But I couldn't find where this config is used. It's only used in [cli](https://github.com/Netflix/metaflow/blob/62f5e52ebce755d9130287c1576011cb056e0e3d/metaflow/main_cli.py#L490).
I guess [this line](https://github.com/Netflix/metaflow/blob/master/metaflow/metaflow_config.py#L66) should be change

[2022-04-06 05:37] romain-intel commented on #999
So, the code you refer to is this:
[code]
and it does seem to be conflicting with https://github.com/Netflix/metaflow/blob/master/metaflow/main_cli.py#L490 which sets the wrong environment variable. For consistency, we should probably use `METAFLOW_DATATOOLS_SYSROOT_S3` as you suggest. Feel free to make a PR to make this fix.

@oavdeev for viz in case this value is used elsewhere. Currently there

[2022-04-06 15:37] savingoyal commented on #999
This indeed looks like a bug that should be fixed.

[2022-04-06 15:39] #990 closed

[2022-04-06 15:43] savingoyal commented on #985
@Limess The workaround you referenced is indeed the solution we were going to recommend. For more involved use cases, we would ideally want to provide users with more fine-grained controls to determine the exact image to use. It's likely that users may want to compute a different image version compared to the one being used today. Let me think about what this user-specified translation layer can l

[2022-04-07 11:50] mblackgeo opened #1004 "Store a function as a variable and reuse across steps"
It doesn't seem like it is possible to conditionally store a function in a member variable based on some logic. Consider the following example:

[code]

Here in `start`, the `self.operator_func` is conditionally set to point to either `add` or `sub` function. Doing this in the typical way, with conditional assignment throws an `AttributeError` in the proceeding `calc` step. However, one workaround

[2022-04-07 19:07] jimmiemunyi opened #1005 "First run of a Workflow --with batch takes a lot of time"
I have noticed that the first time running a workflow, the run takes a lot of time, say 19 mins, then when running the same run again after, it takes shorter times.

I have noted the above behavior with two different Workflows.

The said workflows run really quickly on my computer, ~1 min.

I am using metaflow, version `2.5.4`

[2022-04-08 02:21] #1005 closed

[2022-04-08 05:44] romain-intel commented on #1004
This is "expected" insofar as the logic explicitly excludes methods and functions (see here: https://github.com/Netflix/metaflow/blob/master/metaflow/datastore/task_datastore.py#L696). The reasoning behind that was to store only user level stuff (and not the functions inside the flow itself). When you wrap it in something else (a list, tuple), the check doesn't consider it to be a function so it w

[2022-04-11 22:15] romain-intel commented on #942
I am going to close this for now. I believe the explanation is the issue you point out. If something else comes up, please reopen.

[2022-04-11 22:15] #942 closed

[2022-04-11 22:19] romain-intel commented on #176
This was fixed in #958.

[2022-04-11 22:19] #176 closed

[2022-04-11 22:21] #218 closed

[2022-04-11 22:27] romain-intel opened #1007 "Add tags to the `current` singleton"
Currently, it is not possible to get the current tags from the `current` singleton. We could add them.

[2022-04-12 00:40] savingoyal commented on #838
This was addressed in #991

[2022-04-12 00:43] #678 closed

[2022-04-12 00:44] #169 closed

[2022-04-12 00:46] #374 closed

[2022-04-12 00:46] savingoyal commented on #340
@jonaschn This should be resolved now with the newer versions of Metaflow

[2022-04-12 00:46] #340 closed

[2022-04-12 00:50] savingoyal commented on #587
related to #550

[2022-04-13 16:55] romain-intel opened #1009 "Improve visibility of Metaflow Code object"
The code tarball saved by Metaflow is accessible with the client but it is not very easy to work with. We may want to make it more visible possibly even in the Metaflow UI.

Another idea would be to link it to the source control that the Metaflow code is in (if there is one). In particular, we could store the branch/commit information as well as a "dirty" patch file if needed. We can keep the same

[2022-04-13 17:01] romain-intel opened #1010 "Add delete calls to S3 client"
We currently have read and write capabilities but do not support deleting. We could add a few calls like delete delete_all and some recursive way of deleting.

[2022-04-13 20:46] bergdavidj opened #1011 "bug in `current` singleton for property `pathspec` when used outside of a flow"
When accessing  the `pathspec` property of the `current` singleton outside of a flow I get the following error:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/apps/python3/lib/python3.7/site-packages/metaflow/current.py", line 91, in pathspec
    return "/".join((self._flow_name, self._run_id, self._step_name, self._task_id))
TypeError: sequence item 0: expected

[2022-04-14 01:13] tmwong2003 commented on #942
Yes, thank you. We have no observed a mid-execution deletion recently, and have a few potential workarounds available.

[2022-04-19 02:29] savingoyal opened #1014 "Bug with float values for cpu/memory for @batch/step-functions with @resources"
related to #467

When @resources specifies a float value, Metaflow throws a cryptic error

[code]

[2022-04-19 16:32] gaborvecsei opened #1015 "How to set up data storage with on-prem s3 and local Metaflow service?"
I have "deployed" locally the metaflow service and now I would like to use a on-prem s3 storage for the artifacts.

How should I configure it?

[2022-04-19 16:35] valayDave commented on #1015
Are you using docker-compose or the `python` command to deploy it ?

[2022-04-19 19:51] gaborvecsei commented on #1015
I am deploying using the docker images and `docker-compose`

[code]

[2022-04-20 21:47] savingoyal opened #1016 "Fix `metaflow pull tutorials` for metaflow conda package"

[2022-04-20 22:48] TonyIvchenko opened #1017 "Get the value of reserved_params inside flow step"
Is that possible to get the value or `reserved_params` inside `FlowSpec` step? As for instance, how I can get the value of `max-workers` param if it is set or default value if not?

[2022-04-20 23:15] savingoyal commented on #1017
Not in a straightforward manner. There is an open ticket #571 to add them to the `current` object. One immediate workaround would be to launch your workflow as `METAFLOW_MAX_WORKERS=100 python flow.py run` and sniff the value of `METAFLOW_MAX_WORKERS` in `os.environ` but this approach wouldn't work when running on AWS Batch where the local environment variables are not passed all the way to AWS Ba

[2022-04-20 23:17] TonyIvchenko commented on #1017
Thank you, unfortunately we need it in AWS Batch, do you have an ETA for #571

[2022-04-20 23:18] savingoyal commented on #1017
I can get a PR out next week? Would that work?

[2022-04-21 05:24] nbertagnolli opened #1018 "Is there a way to list all possible namespaces?"
Sorry if this is a dumb question. We've been using metaflow on my team and it's awesome!  I was wondering if there was a way to list all possible namespaces to see who has been running flows and easily find the flow you're looking for?  I checked the documentation but didn't see anything here https://docs.metaflow.org/metaflow/tagging.  I also looked around in https://github.com/Netflix/metaflow/b

[2022-04-21 16:44] TonyIvchenko commented on #1017
Absolutely, thank you!

[2022-04-21 20:25] savingoyal commented on #1018
@nbertagnolli You can actually [use any `tag` as a namespace](https://docs.metaflow.org/metaflow/tagging#tags-as-namespaces). We don't expose any API currently that can provide you a list of all tags globally but you can check the tags for any given run using the API - `Run("my_flow/42").tags`

[2022-04-22 09:00] sam-watts commented on #571
@savingoyal just looking into this and wondering about the best way to implement. As I understand it, `current` is populated inside `MetaflowTask.run_step`, which has no knowledge of where the task is being executed (eg. local, batch or sfn). I think the same is true of the other execution context variables mentioned. So I think there are two options:

* Pass the execution context through to the t

[2022-04-22 16:00] savingoyal commented on #50
#992 has been merged. The next Metaflow release will address this issue.

[2022-04-22 16:01] savingoyal commented on #16
#992 provides GA support for Kubernetes. https://github.com/outerbounds/metaflow/tree/airflow is tracking the Airflow integration on top of Kubernetes.

[2022-04-22 16:29] alexec commented on #50
Yay!

[2022-04-22 16:30] terrytangyuan commented on #50
Amazing work! Looking forward to the new release!

[2022-04-22 16:56] repocho commented on #50
Thank you for making this possible !! 🥇

[2022-04-22 23:14] savingoyal commented on #25
Closing this issue given that #992 that addresses #50 has been merged. Kubeflow Pipelines also uses Argo Workflows under the hood so a layer of indirection through Kubeflow Pipelines doesn't really serve much benefit currently.

[2022-04-22 23:14] #25 closed

[2022-04-23 17:56] #953 closed

[2022-04-26 04:09] IanQS commented on #52
Is it possible to run metaflow across a local cluster of machines? I've got a cluster of machines locally and I'd rather use that than prematurely deploy to AWS when I may not need it? I've tried googling "metaflow local cluster" but this was the first result and the rest didn't look particularly relevant (all of them advocate training and verifying locally before scaling to AWS)

[2022-04-26 04:11] savingoyal commented on #52
@IanQS If you can deploy Kubernetes on top of this cluster, then our [latest release](https://blog.argoproj.io/human-centric-data-science-on-kubernetes-with-metaflow-7f60aad34cba) which adds support for Kubernetes will get you going.

[2022-04-26 06:22] savingoyal commented on #50
Support for Kubernetes and Argo Workflows is now available in Metaflow 2.6.0 - https://blog.argoproj.io/human-centric-data-science-on-kubernetes-with-metaflow-7f60aad34cba

[2022-04-26 06:22] #50 closed

[2022-04-26 13:19] maxfriedrich opened #1023 "Card rendering breaks for tables with some NaN values"
Hi Metaflow team!

When storing a DataFrame artifact that has a column with some actual numbers and some NaN values, the step's default card fails to render completely. Just the Metaflow logo is shown, the rest of the page is empty, console shows "TypeError: Load failed".

When a column has only NaN values, rendering succeeds and shows "null" in these columns in the table.

Here is an example to r

[2022-04-26 16:00] wanghong230 commented on #16
Kubernetes support was done via supporting the Argo-Workflows, great!
https://github.com/Netflix/metaflow/pull/992 (Dispatch Metaflow flows to Argo Workflows)

[2022-04-28 01:54] valayDave commented on #1023
@maxfriedrich: Thanks for creating this issue. This was a tiny bug we missed and I think the change I introduced in #1025 fixes it.

[2022-04-30 21:36] michael135 opened #1028 "What is the difference between Metaflow and MLflow (the flow part)"
What is the difference between Metaflow and MLflow (the flow part) ?
Or what is the advantage of Metaflow ?

[2022-05-01 14:16] MusHusKat commented on #159
Hi friends, just wanted to check what's the priority for this issue. We are increasingly feeling the need for this to organize our historic flows to conform to ever-evolving patterns. Thank you.

[2022-05-01 16:18] savingoyal commented on #159
@MusHusKat This is actively being worked upon as of last week. We should be able to conclude this work over the next few weeks.

[2022-05-01 16:24] MusHusKat commented on #159
Thanks @savingoyal , that's excellent news. Looking forward to this new feature. Best of luck!

[2022-05-01 16:29] michael135 opened #1029 "loading tensorflow model inside step error"
### Getting error, when loading saved

[code]

2022-05-01 19:25:25.928 [1651422297658984/model_loading_step/2 (pid 166635)] _pickle.PicklingError: Can't pickle <class 'tensorflow.python.keras.saving.saved_model.load.PreProcess_DensNet'>: attribute lookup PreProcess_DensNet on tensorflow.python.keras.saving.saved_model.load failed
2022-05-01 19:25:25.928 [1651422297658984/model_loading_step/2 (pid

[2022-05-02 23:12] tianyi-qi-zefr opened #1030 "click version conflict in metaflow and dependency installation failed"
hey guys, I need some help on version conflict in metaflow, one dependency `click` of `transformers` caused version conflict this morning, I tried to pin `sacremoses` version, it worked fine in local container but caused weird errors in metaflow. Appreciate any help!

my dependency list
[code]

error when pinning sacremoses==0.0.41, this did not work
[code]

error when removing sacremoses==0.0.41

[2022-05-02 23:42] savingoyal commented on #1030
@tianyi-qi-zefr What version of Metaflow are you using?

[2022-05-02 23:43] tianyi-qi-zefr commented on #1030
updated in dependency, it is 2.5.4

[2022-05-03 00:01] savingoyal commented on #1030
Follow-up thread - https://outerbounds-community.slack.com/archives/C02116BBNTU/p1651533302035489 accessible through slack.outerbounds.co

It seems that manually pip installing packages within a conda environment generated through Metaflow is breaking the environment.

[2022-05-03 00:36] savingoyal opened #1031 "Support Metaflow Cards within the Argo UI"
related to https://github.com/argoproj/argo-workflows/issues/7743

[2022-05-03 00:43] savingoyal opened #1032 "Support Batch Array in @batch"
https://docs.aws.amazon.com/batch/latest/userguide/array_jobs.html

[2022-05-03 17:23] tianyi-qi-zefr commented on #1030
issue fixed when pinning click==7.1.2

[2022-05-03 19:38] #1011 closed

[2022-05-04 02:51] #1030 closed

[2022-05-04 22:17] savingoyal commented on #1028
@michael135 Great question - there are a few overlaps between the two - particularly around logging artifacts & model registry - Metaflow versions and stores all artifacts (data, code, logs, models, etc.) by default. Outside of that, Metaflow is intended towards providing an end-to-end experience for training models. Here is a simple decision rubric if you should consider Metaflow - https://docs.m

[2022-05-05 02:26] tuulos commented on #564
another thread for context and +1 https://outerbounds-community.slack.com/archives/C02116BBNTU/p1651716562792139

[2022-05-05 19:28] michellemay opened #1035 "Conda alternative"
Hi,

I see that the only two options for the dependency management are local or conda.  But from what I understand of the TOS of anaconda/miniconda, using their conda repository is possibly not free if someone is part of a for profit organization with 200+ individuals.

So, is there are any plans on using something else?  Or maybe the preferred way is to implement homemade decorators to call pip

[2022-05-05 19:30] romain-intel commented on #1035
Giving another option (around the pip ecosystem) is something that is definitely being looked at but we haven't yet been able to dedicate resources/time to it. I can say with a fair amount of certainty that it will happen but can't really give you a precise timeline right now.

In the meantime though, you can use the conda-forge channnel which IS free for everyone. It doesn't always have all the p

[2022-05-05 19:35] michellemay commented on #1035
Thanks for the clarification

[2022-05-05 20:01] #1035 closed

[2022-05-06 06:49] gavinsoe opened #1036 "When using empty lists as StepDecorator defaults, it somehow gets turned into a string"
I think there might be a small bug in the step attributes when using empty lists as defaults.

[code]

so… for some reason the value of `self.attributes["libraries"]` is actually a string `"[]"` instead of an empty list `[]`

[2022-05-09 13:52] hamelsmu commented on #602
Notes:

From Savin:

One clue, when I run this command and there are no runs, I get the message `No running AWS Batch jobs found.` which at least allows me to potentially introspect that bit of code as an example.

The output looks like this

[code]

[2022-05-10 00:47] jackie-ob opened #1038 "attempt_id on metadatums should move out of tags and be its own top level field"
Tasks can be attempted multiple times, each attempt getting an attempt_id.  Each attempt also associates a list of associated Metadata records (also called `Metadatum` in code), which get persisted to metadata backend storage.  Each `Metadatum` object can have tags.

Today we tie the `Metadatum` to an attempt_id by adding `attempt_id:n` as a tag.  We should move this to its own top-level field, ju

[2022-05-11 19:26] karimmohraz opened #1040 "Underscore in template name of argo-workflows not allowed"
Argo-Workflows UI rejects Metaflow generated Workflows if step name contains "_"
Although _sanitize method exists in _dag_templates, a step name with underscore is not sanitized.
Example:

class HelloArgoFlow(FlowSpec):

    @step
    def start(self):
        print("HelloFlow is starting.")
        self.next(self.hello_a)

    @step
    def hello_a(self):
        print("HelloFlow says HELLO.")

[2022-05-11 19:28] savingoyal commented on #1040
I thought this was handled. Let me take a look.

[2022-05-11 19:43] savingoyal commented on #1040
I was unable to reproduce the error using Metaflow 2.6.0
[code]

[2022-05-11 19:46] savingoyal commented on #1040
What is the version of Argo Workflows you are on?

[2022-05-11 19:51] savingoyal commented on #1040
Aha - the UI has an additional check that prevents uploading the JSON by hand.

[2022-05-11 19:54] savingoyal commented on #1040
I have started a thread in CNCF slack to ensure that this isn't a regression within Argo Workflows UI.

[2022-05-11 20:35] karimmohraz commented on #1040
thnx for your quick reply Savin!
Metaflow 2.6.0.post4+gitd977cd4
I created the argo template using this command:
helloworld.py argo-workflows --name=h5 create --only-json > h5.json

[2022-05-11 20:36] karimmohraz commented on #1040
[code]

[2022-05-11 20:37] karimmohraz commented on #1040
[code]

[2022-05-11 20:41] karimmohraz commented on #1040
I've seen this a while ago. Argo UI does the validation according to the schema.
Although I agree, argo execution engine should apply same checks.

[2022-05-12 09:08] ZiminPark opened #1042 "Any reason to disallow the "root" username?"
In this line, I found that metaflow skips the username "root".
https://github.com/Netflix/metaflow/blob/d977cd44839e82e70de3c019a9c6e6f89a3e9a04/metaflow/util.py#L163-L174

Is there any reason to disallow "root" user name? Just ask out of curiosity.
Since I often use metaflow on docker image which starts as a root user, I used to give a value to "USERNAME" environment variable.

[2022-05-12 17:38] jackie-ob commented on #1042
Thanks for the question.  This is usually considered preferred practice when it comes to security of the host system.  I.e. we want to minimize the amount of permissions a program has to what it needs to perform its function.  Some example [writeups](https://askubuntu.com/questions/16178/why-is-it-bad-to-log-in-as-root) out there.

In your case with docker, some of the security concerns _may_ be r

[2022-05-13 00:33] ZiminPark commented on #1042
Thanks for the detailed explanation. I got it.

[2022-05-13 00:34] #1042 closed

[2022-05-13 00:46] #1028 closed

[2022-05-24 13:10] ZiminPark opened #1050 "[Bug Report] Arguments splitted when creating Argo Workflow manifest"
When deploying to Argo Workflow with the below command, I expect every step will use the '**s3-secret**' secret.
`python parameter_flow.py --with kubernetes:secrets=s3-secret argo-workflows create`
(parameter_flow is exactly same with [the one in docs](https://docs.metaflow.org/going-to-production-with-metaflow/scheduling-metaflow-flows/scheduling-with-argo-workflows#pushing-a-flow-to-production))

[2022-05-24 13:17] savingoyal commented on #1050
can you try with #1048 ?

[2022-05-24 13:33] #1050 closed

[2022-05-30 17:54] savingoyal commented on #16
[This](https://github.com/outerbounds/metaflow/tree/airflow) branch tracks the work for this issue.

[2022-05-31 05:55] lsimoneau commented on #530
Hi folks, wondering what the status of this is?

Context:

* we need to delete data to comply with GDPR deletion requests
* currently we've tried doing this by setting a lifecycle policy to expire objects in the Metaflow S3 bucket, but this seems to cause step functions to start failing after some time (possibly the code is also stored in S3 and gets expired?)

Is anyone else handling data deletio

[2022-06-02 19:24] savingoyal opened #1058 "run id is assigned even if `boto3` doesn't exist for flow execution"
If `boto3` isn't found (it's a soft dependency), Metaflow throws an error `You need to install 'boto3' in order to use S3.` after assigning a run id. We can move the check before a run id is assigned.

[2022-06-07 05:18] davidtan-tw opened #1060 "Centralised logging"
Hey folks, thanks for the great work on Metaflow.

This is a question, not an issue. How do you typically do distributed log tracing with Metaflow? We're deploying our Flows as AWS Step Functions, and we're doing a lot of clicking on AWS Console to get to the logs. And it gets especially tedious when we have SFNs that fan out to 50+ Tasks.

We have a centralised logging server/UI (something like S

[2022-06-09 20:33] savingoyal opened #1062 "Enable flow decorators through CLI"
https://outerboundsco.slack.com/archives/C02116BBNTU/p1654806617765689 accessible through slack.outerbounds.co

[2022-06-09 20:45] savingoyal commented on #1060
@davidtan-tw - Depending on how you are shipping logs back, you can access the run ids from the environment of the container. All user logs are also stored in S3 by Metaflow. You can access them as `Run('myflow/run-id')['step'].task.stdout` and `Run('myflow/run-id')['step'].task.stderr`. You may want to ask the question in chat.metaflow.org where there are quite a few folks who use Splunk with Met

[2022-06-13 16:43] jackie-ob opened #1064 "[tag-mutation-project] consolidate tag mutation client API"
The initial release of tag mutation will include the following methods:

* A - `Run.(add|remove|replace)_tag` (singular)
* B - `Run.(add|remove|replace)_tags` (plural).

For internal backwards compatibility reasons, A methods accept iterables of tags also.

At some point we will migrate all internal users off of plural usage of A methods, and remove support for iterables of tags in A (use B instea

[2022-06-13 16:46] jackie-ob opened #1065 "Integration test coverage for Argo workflows plugin"

[2022-06-13 16:46] jackie-ob opened #1066 "Integration test coverage for AWS Step Functions plugin"

[2022-06-13 16:47] jackie-ob opened #1067 "Tag mutation CLI - tag list --json, --flat options"
The general idea is to make `tag list` output script friendly.

[2022-06-15 23:02] romain-intel opened #1070 "dump command is not very clear on non-found task"
It currently throws an error that looks something like this:

[code]

which could be made clearer.

[2022-06-16 08:14] ZiminPark commented on #1040
Is this issue solved? @savingoyal @karimmohraz
I also have the same problem in Metaflow 2.6.3, Argo 3.3.5.
I create workflow template with follwing command.
`python helloworld.py --with kubernetes:secrets=s3-secret argo-workflows create`

[2022-06-16 17:47] savingoyal commented on #1040
@ZiminPark Are you running into this issue when you submit using the UI?

[2022-06-16 21:03] pdMa2s commented on #133
Hi @Alnamkani, it was quite some time ago but I think that solved it.

[2022-06-17 00:33] zimmy-upstage commented on #1040
No I'll try it.

[2022-06-17 00:35] zimmy-upstage commented on #1040
I just submit via metaflow cli. I'll try with the Argo UI.

[2022-06-17 00:45] ZiminPark commented on #1040
Yes submitting via metaflow cli (argo-workflows create) can create a workflow template but it fails on run.
And submitting via Argo UI raise same error on submission.

[2022-06-21 20:02] savingoyal commented on #159
This functionality is now available - https://outerbounds.com/blog/five-ways-to-use-the-new-metaflow-tags

[2022-06-21 20:02] #159 closed

[2022-07-12 01:27] savingoyal commented on #40
This work is currently in-flight. We expect a feature-complete PR to be available over the next couple of weeks. It will cover AzureBlobStorage as our Azure Datastore and run on top of Kubernetes (AKS or BYOC).

[2022-07-13 06:08] Dana-Farber commented on #40
Wonderful! Would you mind letting me know when this is done and testable?
Thx!!!

On Tue, Jul 12, 2022, 3:27 AM Savin ***@***.***> wrote:

[2022-07-14 16:56] JLHasson opened #1085 "Metaflow does not inherit filesystem permissions of local root directory when creating `_self.json` metadata"
In some linux systems the filesystem allows setting ACLs & permissions on files & directories. These permissions can be inherited by child files/directories created under the parent. Metaflow currently creates a tmp file & then moves it into the correct path:

https://github.com/Netflix/metaflow/blob/38be8f40cf8a0a5b676d19906df558d2d64dbd29/metaflow/plugins/metadata/local.py#L549

Unfortunately th

[2022-07-20 02:16] savingoyal opened #1087 "Drop `ext_info` from `METAFLOW_VERSION` env var in `@batch` and `@kubernetes`"
https://outerboundsco.slack.com/archives/C02116BBNTU/p1658246993734459 through chat.metaflow.org

[2022-07-22 19:16] xguse commented on #89
Any progress here? Not being able to run a debugger is not a minor annoyance. Its a pretty major adoption blocker in my opinion.

Also IMHO, the docs document (https://docs.metaflow.org/metaflow/debugging#debugging-your-flow-code) is NOT actual debugging any more than slapping a bunch of print statements into code is a substitute for a debugger. Being able to move up and down the call stack and be

[2022-07-24 13:11] heysujal commented on #1087
@savingoyal Not able to see it even  after signing up on the workspace.

[2022-07-27 09:56] DonIvanCorleone commented on #950
Sorry for opening this issue again, but currently I have the exact same error message.
Would it be possible to document the solution here as well?

Many thanks.
Cheers

[2022-07-27 19:16] AbdAlRahman-Odeh-99 commented on #950
The issue was that I had my data locally. For Metaflow-UI to work, the data must be uploaded to the cloud such as S3. An alternative solution for local data is to use the @card tag.
Cheers

[2022-07-27 20:47] tuulos commented on #636
[A complete reference guide to all Metaflow APIs](https://docs.metaflow.org/api) was finally released today! Thanks for your patience 🙏

[2022-07-27 20:47] #636 closed

[2022-08-02 21:25] DonIvanCorleone commented on #950
Thanks. Will try your suggestion.
Cheers

Am 27. Juli 2022 21:16:23 schrieb AbdAlRahman-Odeh-99
***@***.***>:

[2022-08-03 15:32] savingoyal opened #1101 "Make `log-group` and `log-stream` configurable for AWS Batch"
https://outerbounds-community.slack.com/archives/C02116BBNTU/p1659523083731559 via chat.metaflow.org

[2022-08-09 04:02] cavandervoort opened #1104 "Run class’s ‘finished’ property stays ‘False’ after failed run"
Metaflow’s Run class’s [‘finished’ property](https://github.com/Netflix/metaflow/blob/90ee1ede39b7f694007d18a45ebe27333c8e7271/metaflow/client/core.py#L1776) does not become True for failed Runs that do not reach the ‘end’ step. It would be useful if the Run class had a property that became true once the run terminated, whether or not the run succeeded. The current finished property does not appea

[2022-08-09 04:03] cavandervoort commented on #1104
To get things started, here are some potential solutions:

**1. Change the ‘finished’ property for Run (and potentially for Step, too) so that it returns ‘True’ in the case of a failed run that will not retry anymore.**
- This could be problematic because it changes code users depend on.

**2. Add additional ‘running’ or ‘active’ property for Run (and Step?) that returns a boolean based on whether

[2022-08-09 04:25] savingoyal commented on #1104
Follow up discussion at https://outerbounds-community.slack.com/archives/C020U025QJK/p1660018284702399 via chat.metaflow.org. I will post summary after the discussion concludes here.

[2022-08-09 14:13] karimmohraz commented on #1040
https://cloud-native.slack.com/archives/C01QW9QSSSK/p1652298821097089

[2022-08-10 09:40] hofbi opened #1107 "Broken links in documentation about datastore"
At https://docs.metaflow.org/internals-of-metaflow/technical-overview#datastore, the two file links point to not existing pages.

These are the link that do not work:

* [datastore.py - base class for datastores](https://github.com/Netflix/metaflow/blob/master/metaflow/datastore/datastore.py)
* [s3.py - default S3 datastore](https://github.com/Netflix/metaflow/blob/master/metaflow/datastore/s3.py)

[2022-08-10 11:44] hofbi commented on #1107
I just saw that the docs have a separate project, so maybe someone can move this issue to https://github.com/Netflix/metaflow-docs

[2022-08-12 19:38] romain-intel commented on #1085
Apologies for the delay. I looked at this and we do create the file within the directory (we use the `dir` argument that should create the file directly in the directory we want to create it in). I am not sure why NamedTemporaryFile wouldn't inherit the permissions in this case. Maybe the rename doesn't do it right. Could you check, on your system, if:
  - creating a file with NamedTemporaryFile j

[2022-08-12 19:40] romain-intel opened #1110 "get_cards could be used to fetch cards as well"
In the UI, the way cards are fetched is to first use `get_cards` to get a list of cards and then individual cards are immediately fetched using `get`.

The API present is designed to lazily load cards which makes sense in a lot of cases but this is not the UI's use case (it wants to get all the cards right away).

An argument to `get_cards` could be used to get a listing of all the cards and then

[2022-08-15 01:23] JLHasson commented on #1085
Hey @romain-intel, I've done what you requested and it reproduced:
[code]
Results in:
[code]

I also ran the rename:
[code]
resulting in:
[code]

Here's the output of `getfacl` on that directory FWIW (I've replaced the actual owner/group with "user" and "group"):
[code]

[2022-08-15 01:24] JLHasson commented on #1085
FWIW here's the same using `touch`:
[code]

[2022-08-17 09:23] sofiane-budbee opened #1112 "Run shows as running forever after process is killed"
Hi,
When trying to debug a flow, I had to kill it and restart it few times. Some of the runs kept showing as "Running" in the UI days after the process was killed.

When looking at the run details I found "Not tasks found".

The oldest run is now running since 121h4m

I couldn't find any way to remove it.

[2022-08-18 09:41] romain-intel opened #1113 "Inconsistent artifact propagation on catch"
When the catch decorator captures an exception, if the exception happened within the user code, any artifact that has been set prior to the exception is persisted in the datastore and is therefore accessible for later steps. So, for example:
[code]
would result in `foo` being accessible (but not `bar`).

If the exception happens *after* the user code though (so in the Metaflow runtime), nothing is

[2022-08-18 09:45] romain-intel opened #1114 "Support auto-completion of Metaflow objects/API in notebooks"
We could support some form of auto-completion for Metaflow in iPython. Some examples:
[code]
on a run to complete something like `my_run['<tab>`

Details on the possibilities here: https://ipython.readthedocs.io/en/stable/config/integrating.html#tab-completion

[2022-08-18 09:49] romain-intel opened #1115 "Extend current object to include things like the number of workers"
Certain environmental constraints could be made available as part of current.

[2022-08-18 09:57] romain-intel opened #1116 "Allow the selection of flows by project/branch"
You can technically do it using the production token but providing an easier way to see all flows in a project/branch may be useful.

[2022-08-18 16:41] savingoyal opened #1117 "Support volume mounts for @kubernetes"
https://outerbounds-community.slack.com/archives/C02116BBNTU/p1660059534420369?thread_ts=1659639983.818119&cid=C02116BBNTU via chat.metaflow.org

[2022-08-18 16:46] savingoyal commented on #1113
It's not just the error in Metaflow runtime - if the container crashes during user code execution, the artifacts are still not going to be persisted (while the flow moves on to the next step). I don't think we can provide a stronger guarantee than what exists today.

[2022-08-23 18:28] #40 closed

[2022-08-23 21:02] ckrapu commented on #71
These work arounds do pretty well but I've come across a use case that isn't covered yet. I have 10+ steps which should be executed in parallel with conditional execution (i.e. 2 or 3 of them may need to be skipped). Some of these steps include their own foreach branching downstream before joining results downstream.

I tried manipulating the args to `self.next` with something like this:

[code]

[2022-08-23 21:24] crypdick opened #1120 "@conda_base to recycle identical conda envs"
Current behavior:

@conda_base generates a separate conda env directory for each (flow, dependencies) combo.

Requested behavior:

Metaflow should recycle conda envs if they are identical dependencies.

Background:

We are transitioning our mono-repo from pip-tools to Metaflow's @conda_base. We wrote an environment.yml parser such that we can decorate all our flows with `@conda_base(parse_env())`

[2022-08-23 22:16] savingoyal commented on #71
@ckrapu Would the `foreach` construct be a better choice here?

[2022-08-23 22:44] ckrapu commented on #71
I think it could work, but the iterable I'd prefer to use in the `foreach` would be a list of step functions as opposed to a list of `str` or a sequence of `DataFrame` as is commonly done. Otherwise, I suppose I could write a small wrapper that goes into the correct step based on the string its passed.

One high level question that I have is about the graph parsing (in particular the bit that occu

[2022-08-23 22:57] savingoyal commented on #1120
@crypdick conda uses _hardlinks_ to [save on disk space](https://stackoverflow.com/questions/55566419/why-are-packages-installed-rather-than-just-linked-to-a-specific-environment) already. Are you seeing different behavior?

[2022-08-24 21:48] crypdick commented on #1120
@savingoyal I repeated the `du` commands from that link, and indeed, the two commands `for d in envs/*; do du -sh $d; done` vs `du -sh envs/*` show different values, so it's not as bad as I thought.

`du -sh envs/* pkgs lib bin conda-meta share include etc`:
![image](https://user-images.githubusercontent.com/5415776/186516728-f961aa5d-29c4-414e-90f5-eeb168a70280.png)

However, each env is still 60

[2022-08-24 22:23] savingoyal commented on #1120
Do you have any other conda package cache besides `pkgs`? I don't see any reason why two different environments will have the same size (636M) and not rely on a cache.

[2022-08-25 15:16] crypdick commented on #1120
Not that I'm aware of, @savingoyal . Here's more specs:I'm using a miniconda3

[2022-08-25 15:26] crypdick commented on #1120
Not that I'm aware of, @savingoyal . I checked `/opt/` for conda/mamba cache's, didn't find anything there.

Additional info:

* I'm using a miniconda3
* I start with an environment.base.yml
* I compile this to an environment.yml using `mamba` solver (cmds simplified for brevity):

[code]

The resulting `environment.yml` has pinned versions and builds, so I'm not surprised that each env has an ide

[2022-08-25 17:22] juliuskittler opened #1123 "Tutorial episode 6 does not work in AWS because of MetaflowS3URLException"
I was able to successfully run episode 5 with the [Sandbox environment](https://metaflow.org/sandbox) provided by the metaflow team. However, when I run episode 6, the "start" step fails with the following exception: `metaflow.datatools.s3.MetaflowS3URLException: Initialize S3 with an 's3root' or 'run' if you don't want to specify full s3:// urls`. The error is raised in [this source](https://gith

[2022-08-27 08:34] DEEP411 opened #1124 "Hi"

[2022-08-27 14:22] #1124 closed

[2022-08-29 18:58] uvashisth commented on #808
I'm facing the same issue as well. Were you able to solve it?

[2022-08-29 19:33] savingoyal commented on #808
can you create a new python file that simply invokes `subprocess.check_call(['python', 'flow.py', 'run'])` and make that file an executable?

[2022-08-30 02:20] uvashisth commented on #808
Thank you very much @savingoyal, it worked for me :)

[2022-08-30 05:10] #808 closed

[2022-08-30 17:21] savingoyal commented on #1120
@crypdick you can invoke `conda info` and `mamba info` to list all your package caches.

[2022-08-30 17:22] savingoyal commented on #1116
Is this within the Metaflow UI? You can simply use tags.

[2022-08-30 17:26] savingoyal commented on #1112
@sofiane-budbee There is an edge case in the UI that can cause this behavior. You can also tweak [some environment variables](https://github.com/Netflix/metaflow-service/blob/master/services/ui_backend_service/docs/environment.md#heartbeat-intervals) in the UI deployment to alter the behavior and mark old zombie runs as failed.

[2022-08-30 17:26] #1112 closed

[2022-08-30 17:30] savingoyal commented on #1060
@davidtan-tw Any follow-ups on this? Please re-open the issue if you would like to chat further.

[2022-08-30 17:30] #1060 closed

[2022-08-31 11:41] MariaBocsa opened #1125 "'AttributeError: Can't pickle local object 'TupleOutputMixIn.to_network_output.<locals>.Output'"
Hello,
I tried to run a Temporal Fusion Transformer Model using Metaflow, locally runs fine on my setup, but when I tried to run using metaflow I get the following error: "AttributeError: Can't pickle local object '[TupleOutputMixIn.to](http://tupleoutputmixin.to/)_network_output.<locals>.Output' ". The training phase runs for a couple of epochs and suddenly stops with the output error from above.

[2022-08-31 15:26] savingoyal commented on #424
Here is the memo - https://docs.google.com/document/d/1HJW9TH6lHEUojqDTzfgJZJXgjg3xZr43-p8_vjYJM1c/edit#heading=h.thnxk5pwrpsa

[2022-09-03 00:58] savingoyal commented on #1123
#1128 will fix this issue.

[2022-09-04 03:03] phitoduck commented on #24
Thinking about the issue with pinning versions of transitive dependencies:

Could a reliable `@pip` decorator be implemented by generating a `Pipfile.lock` as an artifact? I'm not sure how feasible this is, but when reproducing historical runs, you the task could grab the generated `Pipfile.lock` and `pip install ...` _those_ requirements.

Personally, my team has a private PyPI server in AWS Code

[2022-09-04 06:37] tfurmston commented on #1007
I think this one should be closed by [https://github.com/Netflix/metaflow/pull/1019](https://github.com/Netflix/metaflow/pull/1019), right?

[2022-09-04 06:51] tfurmston commented on #923
Looks like this one can be closed by [https://github.com/Netflix/metaflow/pull/946](https://github.com/Netflix/metaflow/pull/946)?

[2022-09-04 07:03] tfurmston commented on #680
Is this issue still to be worked on?

Also, it is quite old. Is the issue still present?

Looking for a simple first issue to work on.

[2022-09-06 21:26] tommybrecher commented on #680
Please see suggested fix in PR https://github.com/Netflix/metaflow/pull/1133

[2022-09-07 05:59] tfurmston commented on #680
ok, thanks. Looks like this issue is taken then.

[2022-09-09 06:17] menon92 opened #1137 "Does metaflow support SPOT GPU instance?"
Spot GPU is low cost gpu provide by cloud provider https://aws.amazon.com/ec2/spot/pricing/

[2022-09-13 16:39] savingoyal commented on #1137
@menon92 It does! You can configure spot instances either in [AWS Batch](https://aws.amazon.com/getting-started/hands-on/run-batch-jobs-at-scale-with-ec2-spot/) or in [Kubernetes](https://aws.amazon.com/getting-started/hands-on/amazon-eks-with-spot-instances/).

[2022-09-13 16:42] #680 closed

[2022-09-13 16:44] savingoyal commented on #650
Issue no longer applies since we have yanked coverage from the code base.

[2022-09-13 16:44] #650 closed

[2022-09-13 16:47] savingoyal commented on #682
@alexisdondon Passing in a custom endpoint url is now enabled for kubernetes.

[2022-09-13 16:47] #682 closed

[2022-09-14 21:58] crypdick commented on #1120
Here you go @savingoyal: https://gist.github.com/crypdick/106c876a8af1f0403c8dce50b545eaef

[2022-09-16 23:54] #881 closed

[2022-09-20 20:10] roofurmston opened #1145 "Metaflow Support for CSI Secret Store secret driver & exit hooks."
We are using Argo Workflows extensively for all of our workflows. We are looking to rollout Metaflow, but there are several pieces of Argo functionality not currently supported by Metaflow.

These include the following:

- We use the [CSI secret store driver](https://secrets-store-csi-driver.sigs.k8s.io/) to load secrets directly from AWS secret manager. This requires us to define [volumes](https:

[2022-09-20 20:34] roofurmston opened #1146 "Plugin functionality to allow users to extend kubernetes/Argo workflows functionality supported by Metaflow."
Metaflow allows certain pieces of kubernetes/argo workflows to be specified in flows via the `kubernetes` and `schedule` decorators and the `kubernetes` or `argo-workflows` flags. However, Argo workflows is a very complex tool with a wide range of different options for configuring workflows.

Rather than expecting Metaflow to cover the whole range of functionality provided by Argo workflows, the s

[2022-09-23 06:21] dinomae22 commented on #1009
Ksnonxonidnid
Idnosmosvs. Ochiens
X xbodenpms x
Muvsunod. Jusm
Xj. Ofnpdnidnisoms e

  I did lncocnrk ud zlmco
Cl js inckd
L.zh icnfos.ls.

[2022-09-28 08:51] roofurmston commented on #1117
How did you envisage this being implemented @savingoyal ?

I've been through the code base and made a very rough straw man proposal. Would be interested in getting some feedback to see whether or not you think it is reasonable.

For context, the following is a rough example of how we manage external volumes through Argo Workflows:

[code]

- Add `VolumeClaimTemplates` to the [WorkflowSpec class](h

[2022-09-28 08:57] roofurmston commented on #1145
In terms of the CSI secret driver, I have found an alternative provider to read secrets from AWS secret manager which looks like it would work with the existing Metaflow functionality. In particular, this [one](https://external-secrets.io/v0.6.0-rc1/).

Not tested it yet though.

[2022-10-06 22:25] #562 closed

[2022-10-07 11:37] Limess commented on #1101
This is important for us, as it's very difficult to attribute cost when someone runs a metaflow flow and logs too much data - all the logs go to `/aws/batch/job`

We've seen single jobs costing $1000+ per job in logs due to too much logging granularity and had difficulty tracking it down.

[2022-10-07 22:16] romain-intel commented on #1146
This is not stable or publicly supported but Metaflow currently does support extensions (and this is how we use it at Netflix). You can find some details here: https://github.com/Netflix/metaflow-extensions-template. Feel free to ask questions here or on slack.

Again, although the mechanism does work and we do our best not to break it, it is not a publicly supported API and can change (I currentl

[2022-10-11 20:19] JustAnotherTDo commented on #530
Hey all, I'm also curious about the status of this request.  In order to leverage Metaflow, we are also in a situation where our S3 bucket must have a lifecycle policy to ensure that we can comply with GDPR deletion requests.  Unfortunately, doing this seems to result in a lot of friction where the only solution is to rerun the existing flow from scratch.

In almost all situations, the expired art

[2022-10-12 16:33] oavdeev opened #1164 "Somewhat cryptic error if you try to use Argo but Argo CRDs are not installed"
Happened to me because I had my kubeconfig pointing to a wrong cluster.

[code]

Looks like when we try to register workflowtemplate, we get 404 back. The code in argo plugin expects the response body to be in JSON format, but its only the case if you have Argo CRDs and workflowtemplate doesn't exist. So in this happy you get:
[code]

However if the CRDs are not registered, and therefore the endpo

[2022-10-14 07:50] vijal-patel commented on #1010
@romain-intel could I work on this?

[2022-10-14 08:35] romain-intel commented on #1010
of course!

[2022-10-15 17:47] leftys opened #1165 "@batch(max_swap=...) parameter doesn't work"
Hi! I am trying to run some batch jobs that rarely allocate a lot of memory. I would like to use swap in that case. However the @batch decorator max_swap parameter doesn't to anything as almost no AWS instances have any swap. How is this parameter supposed to work?

I though about creating swap on instance bootstrap via some new @setup_swap decorator, but found the system of metaflow environments

[2022-10-17 13:13] roofurmston commented on #1146
Hi @romain-intel,

Thanks for the response!

I wasn't aware of this extension framework before. It's very interesting and I think it gets me a large way towards what I wanted.

Going to split my response into two to avoid it being too long. :)

I've had a quick play around with it. To make sure I understand correctly, it currently supports adding or extending all of the clases/CLIs specifed in `_e

[2022-10-17 13:17] roofurmston commented on #1146
One issue I can see is that the functionality I would like to introduce would require me extending the `ArgoWorkflows` class and the current structure of this class doesn't easily lend itself to such additional functionality.

For example, adding functionality to allow workflow-level exit hooks would require sub-classing the `ArgoWorkflows` and `WorkflowSpec` classes and then overwriting the `_com

[2022-10-20 07:22] mbrner opened #1169 "Activate/Deactivate `@schedule` decorator without changing the code to better support testing/development"
We ran into a problem with the `@schedule` decorator when testing/developing/extending a production flow that is using the decorator.

# Problem Description

In production, a pipeline (which also uses the '@project' decorator) runs to retrieve, process, and send data to a data store. For testing and development, the flow is triggered manually and we use 'current.is_production' to avoid compromisin

[2022-10-20 08:52] #1137 closed

[2022-10-21 01:25] AbdAlRahman-Odeh-99 opened #1170 "DAG Visualization"
Greeting,

I am using Metaflow with local storage. I need to visualize the DAG of my workflow. Any idea how could this be done ?

Thank you for your help

[2022-10-21 21:51] shrinandj commented on #1164
Kubernetes explicit APIs for checking custom resource definitions that are installed.

- One such API is to simply [list all the CRDs installed](https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/ApiextensionsV1Api.md#list_custom_resource_definition).
- Another option would be to explicitly `get` (or `read`) the CRD `clusterworkflowtemplates.argoproj.io` or `workflowtemplates.

[2022-10-22 06:52] romain-intel commented on #1146
Hey @roofurmston, apologies for the delay in responding.

To answer your first message:
  - yes, absolutely, you can add new flow or step decorators with the extension mechanism
  - you can also override an entire decorator if you so want to. I have to check but I *believe* the underlying (overridden) decorator is still accessible to you (so to kind of extend to your other point about ArgoWorkflow

[2022-10-24 15:18] roofurmston commented on #1146
Hi Romain

Thanks for the response. :)

I've written an initial example extension through this framework. It seems great to me and it offers a lot of value to use for our use case.

I did play around with directly overwriting some of the modules. However, I ended up having to copy over parts of the module over to the new version. I couldn't work out how to access the `_orig` version of the module.

[2022-10-24 15:25] roofurmston commented on #1145
So we have now tested [https://external-secrets.io/v0.6.0/](https://external-secrets.io/v0.6.0/) as an alternative to the CSI Secret Store driver. It offers the same functionality as the CSI driver, but it compatible with the `kubernetes` decorator.

We'll therefore be using this operator for own use case.

[2022-10-24 15:29] roofurmston commented on #1145
The remaining point in this issue is exit hooks.

However, given the status of this other [issue](https://github.com/Netflix/metaflow/issues/1146), I personally think using metaflow extensions is a viable solution to this issue. I'm therefore going to close this issue.

[2022-10-24 15:29] #1145 closed

[2022-10-24 16:15] ruial opened #1172 "Verify code SHA hash before running it"
Hi all,

Metaflow stores the ```METAFLOW_CODE_SHA``` environment variable on Step Functions but does not use it to check the downloaded code artifact from S3. This can lead to undesired remote code execution where multiple teams share a single Metaflow instance/bucket and have different compute clusters (which may have different IAM permissions per team). Although access to the bucket is secured v

[2022-10-25 17:15] luccitan opened #1175 "Nested foreach do not seem to be possible"
Hello,

Looking at [the documentation](https://docs.metaflow.org/metaflow/basics#foreach), it is said that we can create nested foreach inside a flow.
I have been trying several combinations to not get an error. My last try is like this :

[code]

I keep getting an error which looks like this :

[code]

I don't know how to properly merge everything right after the second-level of nested foreach br

[2022-10-25 18:09] romain-intel commented on #1175
Hello.

Each split must be joined so something like this would work:
[code]

[2022-10-26 18:53] dbragdon1 opened #1176 "Argo workflows security context causing metaflow init script to fail"
I've followed Argo Workflows' security context guidelines [here](https://argoproj.github.io/argo-workflows/workflow-pod-security-context/) to restrict the permissions of my workflow pods.

My argo workflows controller is configured with the following settings:

[code]
My metaflow python script looks like this:

[code]
Creating the workflow template locally:

[code]

Triggering the workflow locally

[2022-10-26 19:23] dbragdon1 commented on #1176
Thanks for your reply. I think a custom docker image seems like the best approach in this setting. Are you setting the working dir to `/tmp` inside of your metaflow script, or by some other means (metaflow environment variables, Dockerfile, etc.). I'll also join the slack and take a look around. Thanks again for your help.

[2022-10-26 20:52] luccitan commented on #1175
It seems to work like a charm, thanks!
I guess the `join_b` comment about "You can't use merge_artifacts here..." is because of a copy paste, right?

[2022-10-26 20:52] #1175 closed

[2022-10-27 03:52] romain-intel commented on #1175
Sorry, I should have made the comment better. I meant to say that you can't use the standard `merge_artifacts` like you had because there are "conflicting" artifacts. Here I use it with `include` and restrict it to the artifacts I know are the same so that is ok.

[2022-10-28 16:34] shrinandj commented on #1117
Does this issue also apply to Argo workflows? Or would it be better to create a separate one for tracking that work?

[2022-10-28 17:20] dasturge opened #1178 "provide an alternative env variable $METAFLOW_USERNAME which overrides $USERNAME if set"
Our organization has our Linux usernames set to our email addresses.  However, the @ character is illegal in Argo, so it causes a failure with the default Unix username.  I'd rather not have to change the system USERNAME in case it causes unexpected behavior in other programs expecting it to align with my Linux username.  It would be nicer if I could set one explicitly for use in metaflow.

[2022-10-28 17:36] romain-intel commented on #1178
You should be able to set `METAFLOW_USER`. Metaflow gets the username by looking, in order, at: `METAFLOW_USER`, `SUDO_USER`, `USERNAME` and `USER`.

Let me know if that solves it for you.

[2022-10-28 18:51] dasturge commented on #1178
https://github.com/Netflix/metaflow-docs/pull/79

I added your comment in the docs where it discusses project workflows, that's where I was trying to find documentation on it.

[2022-10-30 17:50] shrinandj opened #1179 "Metaflow steps fail when aws credentials are provided as environment variables"
- I am trying to run a metaflow flow on a Kubernetes cluster (specifically a `kind` cluster that is running on my laptop).
- AWS creds are provisioned inside the K8s cluster as a secret called `aws-creds`. The secret has the access key, secret key and aws region in the KEY=VALUE format.
- I ran metaflow with the following options:
[code]
- Metaflow created a Kubernetes job and Kubernetes in turn c

[2022-10-30 17:55] shrinandj commented on #1170
Hey @AbdAlRahman-Odeh-99 this might help you visualize the DAG of your workflow: https://docs.metaflow.org/metaflow/visualizing-results

[2022-10-31 16:57] #1178 closed

[2022-10-31 16:59] savingoyal commented on #1176
Conversation resolved at [this thread](https://outerbounds-community.slack.com/archives/C02116BBNTU/p1666899877897229) (accessible via chat.metaflow.org)

[2022-10-31 16:59] #1176 closed

[2022-11-02 18:03] savingoyal opened #1182 "Support multiple configurations for `@conda` dependency lock file"
From @npow - https://outerbounds-community.slack.com/archives/C02116BBNTU/p1667411487776969 via chat.metaflow.org.

[2022-11-03 13:59] sphomme commented on #280
Hello everyone,
Any update?
Would be a great feature!

[2022-11-03 15:08] savingoyal commented on #280
Yes indeed - we are actively working on - https://github.com/Netflix/metaflow/pull/1139

[2022-11-04 20:17] zachary-mcpher commented on #172
@savingoyal @tuulos any updates on this? This is something I have been wanting for some time. We have many real world use cases where this would be useful. Because of this limitation we have to reduce concurrency globally to avoid ending up in a situation where a single branch consumes all N workers which could result in resource contention on that branch.

[2022-11-07 07:32] danchuhman opened #1185 "Too Many Requests (Service: AWSBatch; Status Code: 429; Error Code: TooManyRequestsException..)"
Hi,
I've deployed metaflow using cloudformation template on AWS (with step functions & aws batch support).

When we're running multiple flows at the same time we get -
`Too Many Requests (Service: AWSBatch; Status Code: 429; Error Code: TooManyRequestsException; Request ID: xxxxx; Proxy: null)`

Can we add support for adding something like :
[code]
to all states in a step function ?

[2022-11-10 00:40] romain-intel opened #1187 "Save as many artifacts as possible prior to crashing the task"
In most cases, if a task crashes, we still persist whatever artifacts were produced. This does not happen all the time however, and one common case when it doesn't happen is when there is an error pickling one of the artifacts.

We could instead, catch this error (the pickling of the artifact) but continue pickling everything else before rethrowing the error back out. This would allow the user to

[2022-11-10 00:41] romain-intel opened #1188 "Identify "first failure""
When a Metaflow task fails, it causes a cascading set of failures of other concurrently running tasks. It can sometimes be hard for the user to identify which task actually failed as opposed to being killed by the orchestrator. This could be made clearer and also used in the UI to highlight this task to the user.

[2022-11-10 00:42] romain-intel opened #1189 "Stream local logs"
Logs from batch jobs (for example) are streamed live to S3 which allows them to be viewed in the UI and also captures them for posterity in case of a crash. We currently do not do this with the local logs. We could stream both the logs of the runtime part as well as locally executing tasks.

[2022-11-10 11:39] marcellovictorino commented on #787
That was very confusing indeed. I am glad I found this issue which helped me understand how to keep the self attributes after a join/merge in operation.

[2022-11-11 20:35] oavdeev opened #1191 "Ability to add custom headers to S3 calls"
One practical use case is having org policy requiring encryption headers on all PutObject calls via [SCP](https://docs.aws.amazon.com/organizations/latest/userguide/orgs_manage_policies_scps.html). Could be an "expert" level config option to specify the headers.

[2022-11-14 11:53] roofurmston opened #1193 "Split out `_compile` in ArgoWorkflows class"
The [_compile](https://github.com/Netflix/metaflow/blob/master/metaflow/plugins/argo/argo_workflows.py#L254) method in the `ArgoWorkflows` class sets up a lot of configuration for the `WorkflowSpec`. This is makes it difficult to sub-class this class and configure only some of the configuration in the child class.

If this function could be split up a bit, then it would make it easier to only over

[2022-11-14 16:23] #1193 closed

[2022-11-17 14:34] jvnte opened #1196 "Please add custom Docker support to Documentation"
My team just stumbled across the following blogpost (https://outerbounds.com/docs/build-custom-image/) on how to enable execution of Metaflow steps using custom docker images.

This basically enables much more flexibilty in terms of environment management - such as having to rely on conda environments only.

Could you please add this to the overall Metaflow documentation?

[2022-11-17 18:22] ruial commented on #1172
Closing this as sharing S3 buckets is not really required in a multi-tenant setup anymore with the latest versions, as each tenant can use his own S3 bucket and security is managed by the S3 policies.

[2022-11-17 18:22] #1172 closed

[2022-11-21 13:06] GTimothee commented on #1018
Hi, do you plan to release this feature in a near future ? Regards

[2022-11-22 06:14] leeyh20 commented on #468
Hello! Is this feature being worked on? It sounds like a very good feature

[2022-11-22 14:26] juliuskittler commented on #1191
This would be very helpful!

As @oavdeev says, the current implementation of MetaFlow does not work for AWS accounts that have a service control policy, which requires all PutObject calls to specify SSE-S3 encryption in their header.

[2022-11-22 19:18] kumarprabhu1988 commented on #431
Is there any update on this? Or is there another way of doing this now?

[2022-11-28 07:45] leeyh20 commented on #749
Agree, I was trying to run the helloaws.py example inside the metaflow-tutorials, and i thought i would be able to run it using fargate

![image](https://user-images.githubusercontent.com/7023320/204221587-0852e2bd-7d96-46ff-8ec6-7ca6d15c35ed.png)

But then you would get an error:

![image](https://user-images.githubusercontent.com/7023320/204221665-90b794b8-54e2-443b-9bc1-3734d298b166.png)

[2022-11-29 14:44] savingoyal opened #1203 "Enable custom prometheus metrics for Argo Workflows executions"
we can start with some basic statistics around successful/failed executions and timing information.

https://outerbounds-community.slack.com/archives/C02116BBNTU/p1669722251932439 through chat.metaflow.org